.testimonial-container
  .testimonial-author
    a(href="https://www.linkedin.com/in/washburnad/")
      img(src='images/aaron-washburn.jpg')
      h5 Aaron Washburn
    small Developer, 
      a(href="http://cohealo.com/") Cohealo
  .testimonial-content
    p.lead &ldquo;Creative, professional, insightful and meticulous. Our team depended on John's UX expertise to create a clean, compelling face for our product. But behind the scenes, it was his relentless drive to understand, refactor, simplify and clarify our code that made working with John such a fantastic learning experience for me.&rdquo;
