a(href='http://pajaconstruction.com' title='see the work I did for Cadmon')
  .row.testimonial
    // TODO: insert retina size images
    .medium-3.columns.text-center
      img(src='images/cadmon-whitty-headshot.png')
      |           
      h5 Cadmon Whitty
    .medium-9.columns
      p.lead
        | &ldquo;As a direct result of 
        span.lead-color John&apos;s expertise
        | , I am now a top blogger, have been approached by a publisher to write a book, have 
        span.accent-color more leads than ever
        | ... and I have a feeling this is just the beginning.&rdquo;