a(href='http://pajaconstruction.com' title='see the work I did for Cadmon')
  .testimonial-container.odd
    .testimonial-author
      img(src='images/cadmon-whitty-headshot.png')
      h5 Cadmon Whitty
    .testimonial-content
      p.lead
        | &ldquo;As a direct result of John&apos;s expertise, I am now a top blogger, I've been approached by a publisher to write a book, have more leads than ever... and I have a feeling this is just the beginning.&rdquo;