section#clients.content-section
  .clients-container
    .clients-content
      hgroup.section-header
        h2 Clients
        h3.subheader Hear what my clients have to say
      include michael-catlin-testimonial
      include cadmon-testimonial
      include cory-testimonial
      include roper-testimonial
      include michael-mcdaniel-testimonial

