section#clients.content-section
  .clients-wrapper
    .clients-content
      hgroup
        h2 Clients
        h4.subheader Hear what my clients have to say
      include michael-catlin-testimonial
      include cadmon-testimonial
      include cory-testimonial
      include roper-testimonial

