section#contact
  .contact-container
    .contact-content
      h4 Want To Get Coffee?
      a.cta.white(data-event='contact-button', href='mailto:john@john-ellison.com?subject=Saw%20Your%20Website') Contact Me
