section#contact
  .row
    .get-in-touch
      h4 Ready To Tell Your Story Online?
      .row
        .call-to-action
          a.cta.white(data-event='contact-button', href='mailto:john@john-ellison.com?subject=Saw%20Your%20Website') Send Me an Email