section#contact
  .contact-container
    .contact-content
      h4 Want To Get Coffee?
      a.cta.white(data-event='contact-button', href='mailto:john@john-ellison.com?subject=Saw%20Your%20Website') Contact Me

  .notice-container
    .notice-content
      em I'm currently looking for full-time work with a company that shares my vision for entrepreneurship. I am not accepting freelance projects at this time. 