a(href='http://carcmedia.com')
  .row.testimonial
    .medium-3.medium-push-9.columns.text-center
        img(src='images/cory-arcarese-headshot.png')
        h5 Cory Arcarese
    .medium-9.medium-pull-3.columns
      p.lead
        | &ldquo;
        span.accent-color John is at the top of my list
        |  of &lsquo;go to&rsquo; people because of his experience, knowledge, and most importantly&mdash;his 
        span.lead-color superior listening skills
        | . Prepare to be impressed, John will exceed your expectations.&rdquo;