section#digital-strategy.content-section
  .service-detail-wrapper
    .service-detail-content
      h2
        i.fi-crown
        |  Digital Strategy
      img.service-header-image(data-interchange='[images/digital-strategy-funnel.jpg, (default)], [images/digital-strategy-funnel@2x.jpg, (retina)]')
      noscript
        img(src='images/digital-strategy-funnel.jpg', alt='my user experience design process')
      h3 Background
      p When I launched my first eCommerce business back when I was seventeen, I started to glimpse the importance of designing and executing strategies on the web. Countless times I had great ideas to grow my business online. Every time I tried to implement them, I ran into complications and my strategies would fall short of their goals. Executing on an idea was much more difficult then it seemed. I was throwing time and money at my online business without understanding my users and their needs.

      h4 Learning by Experience
      p The lessons I learned in the failures of multiple online businesses gifted me a unique skillset. By my early twenties, I had experiences and skills that offered great value to other entrepreneurs wanting to succeed on the web. I realized there were other entrepreneurs who had brilliant ideas, but ran into roadblocks when it came to execution.
      p I learned that for an idea to be successful, it needs to have a balance between quality and viability. A great idea has no value if it isn't executed properly. 
      p I also learned that it is crucial to test an idea as early as possible. I learned that strategies need to be validated by real users. Testing an idea doesn't need to take formal market research and enormous amounts of time and money. Testing an idea can be quick and effective. That is part of the art and science of crating successful projects on the web. 

      h4 What is the goal?
      p The goal of a digital strategy is not to strike massive success. The goal is to validate a solution for a group of real people with a real problem. The goal is not to try and convice a group of people that they need your product or service. The goal is to listen to people's needs and serve them in a way that improves their lives and allows them to do what they do best. 

      h4 What is my role?
      p My digital strategy consulting centers around the process of turning ideas into reality. I help my clients create digital strategies and implement those strategies into a website or a web application.
      p I've learned that the best way to approach a project is through a series of iterations. Once a project is launched, it is tested. Tests are analyzed based upon key performance indicators that we identify together early in the discovery process. There are many different ways to go about defining things like key performance indicators, and one of my favorite is through a hands-on workshop.

      h4 Intensive Strategy Workshops
      p I hold intensive workshops at the beginning of any digital project. We gather all stakeholders and key players into one room. With sticky notes, whiteboards, and markers we flesh out all our good ideas and all the not-so-good ones. We try to declare our assumptions and create hypotheses so that we can validate or invalidate them. 

      h4 How do you validate ideas?
      p I have performed several variations of the 
        a(href="http://www.gv.com/sprint/") Google Ventures design sprint,
        |  and find it to be the best way to test hypotheses before investing in the expensive design and development of an idea.

      p These are my two favorite principles of doing business on the web:
      ul 
        li Fail early and fail often
        li Build, measure, learn

      p While many professionals are used to creating massive formal documentation, I prefer leaner methods. I like to use 
        a(href="https://leanstack.com/LeanCanvas.pdf") lean canvas
        |  to start documenting a business model.
      p I've also used some different 
        a(href="http://torgronsund.com/2011/11/29/7-proven-templates-for-creating-value-propositions-that-work/") value proposition templates to help define the value and audience of a strategy's proposition.

      h4 Where do we start?
      p If you've got an idea for a business or an application, 
        a(href="mailto:john@john-ellison.com?subject=Lets%20Talk%20Strategy" data-event="contact-button") send me a message
        |  and we'll set up a time to talk. In my opinion, Strategy is the most crucial aspect of any project. I always want to make sure there is a great foundational strategy in place before jumping into design or development.

  //- Testimonial
  include michael-catlin-testimonial
