section#digital-strategy.content-section
  .service-detail-wrapper
    .service-detail-content
      h2
        i.fi-crown
        |  Digital Strategy
      img(src="http://placehold.it/800x450", alt="coaching image" class='service-header-image')
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, pariatur magni est deleniti nisi, ut consequuntur nihil omnis dolor eveniet sapiente dolorum aperiam quaerat animi unde fuga similique,
  //- Testimonial
  include cory-testimonial