footer.site-footer.h-card
  .footer-container
    .footer-section
      h4 Copyright
      p &copy; 
        //- set by javascript
        span.copyright-year 2016
        |  John Ellison
    .footer-section
      h4 Handcrafted by
      img.contact-photo.u-photo(src='images/john-ellison-wedding-headshot-right-150x150.png', alt='john ellison headshot') 
      .contact-info
        h5.p-name: a.u-url(href="http://john-ellison.com" rel="me") John Ellison
        p.p-note I'm a digital product designer passionate about crafting social change.
    .footer-section
      h4 Connect
      ul.social-list
        li
          a(href='mailto:john@john-ellison.com?subject=Saw%20Your%20Website' title="email me")
            i.fi-mail.social-list-icon
        li
          a(href='https://github.com/johnellison' title='find me on github' rel='me')
            i.fi-social-github.social-list-icon
        li
          a(href='https://twitter.com/iamjohnellison' title="follow me on twitter" rel='me')
            i.fi-social-twitter.social-list-icon
        li
          a(href='https://facebook.com/je4light' title="find me on facebook")
            i.fi-social-facebook.social-list-icon
        li
          a(href='https://www.linkedin.com/in/jbellison' title="connect with me on LinkedIN")
            i.fi-social-linkedin.social-list-icon
        li
          a(href='http://instagram.com/jbellison11' title="follow me on Instagram")
            i.fi-social-instagram.social-list-icon
      small
        a(href="mailto:john@john-ellison.com?Saw%20Your%20Website").u-email john@john-ellison.com
