footer
  section.footer-top
    .row
      .contact-info
        img.contact-photo(src='images/john-ellison-wedding-headshot-right-150x150.png', alt='john ellison headshot') 
        h3 John Ellison  
        p.subheader STORYTELLER &AMP; UX DESIGNER
        ul.social-list
          li
            a(href='mailto:john@john-ellison.com?subject=Saw%20Your%20Website' title="email me")
              i.fi-mail.social-list-icon
          li
            a(href='twitter.com/iamjohnellison' title="follow me on twitter")
              i.fi-social-twitter.social-list-icon
          li
            a(href='facebook.com/je4light' title="find me on facebook")
              i.fi-social-facebook.social-list-icon
          li
            a(href='https://www.linkedin.com/in/jbellison' title="connect with me on LinkedIN")
              i.fi-social-linkedin.social-list-icon
          li
            a(href='http://instagram.com/jbellison11' title="follow me on Instagram")
              i.fi-social-instagram.social-list-icon
  //-     .get-updates
  //-       h4 Get Weekly Updates
  //-       |         
  //-       p Be notified of any new stories, articles or content from my website.
  //-       |         
  //-       form(action='http://john-ellison.us9.list-manage1.com/subscribe/post', method='post')
  //-         input(type='hidden', name='u', value='faa8882c79ff1f55de5ebdac1')
  //-         |         
  //-         input(type='hidden', name='id', value='112c655734')
  //-         |         
  //-         .row.collapse
  //-           .medium-7.columns
  //-             input.prefix(name='MERGE0', type='email', placeholder='your email')
  //-           |           
  //-           .medium-4.columns
  //-             input.postfix.button.secondary(type='submit', href='#', value='Get Updates', data-event='subscribe')
  //- |   
  section.footer-bottom
    .row
      .footer-copyright
        h5 &copy; 2015 John Ellison LLC
        |         
        img.footer-logo(src='images/john-ellison-logo.png', alt='john ellison ux designer logo') 
      .medium-2.columns
        h5 Tools
        ul.inspiration-list
          li
            a(href='http://www.invisionapp.com/') InVision
          |           
          li
            a(href='http://ethn.io/') Ethnio
          |           
          li
            a(href='http://trello.com') Trello
          |           
          li
            a(href='http://mixture.io/') Mixture
          |           
          li
            a(href='http://www.sublimetext.com/3') Sublime
          |           
          li
            a(href='https://www.evernote.com/') Evernote
          |           
          li
            a(href='https://www.rescuetime.com/') RescueTime
      |  
      |     
      .medium-3.columns
        h5 Books  
        ul.inspiration-list
          li
            a(href='#') A Factory of One
          |         
          li
            a(href='#') A Project Guide to UX
          |         
          li
            a(href='#') Sketching User Experiences
          |         
          li
            a(href='#') The Art of Learning
          |         
          li
            a(href='#') The Elements of User Experience
          |         
          li
            a(href='#') UX For Lean Startups
          |         
          li
            a(href='#') Visual Usability
          |         
          li
            a(href='#') Web Analytics 2.0
      |     
      .medium-2.columns
        h5 Inspiration
        |       
        ul.inspiration-list
          li
            a(href='http://www.adaptivepath.com/') Adaptive Path
          |         
          li
            a(href='http://iamdennisfield.com') Dennis Field
          |         
          li
            a(href='http://drewwilson.com/') Drew Wilson
          |         
          li
            a(href='http://gv.com') Google Ventures
          |         
          li
            a(href='http://beinghuman.is') Human Design
          |         
          li
            a(href='http://thoughtbot.com/') ThoughtBot
          |         
          li
            a(href='http://zell-weekeat.com/') Zell Liew
      |     
      .medium-2.columns
        h5 Learning
        |       
        ul.inspiration-list
          li
            a(href='http://codecademy.com/') Codecademy
          |         
          li
            a(href='http://codeschool.com') CodeSchool
          |         
          li
            a(href='http://www.smashingmagazine.com/') Smashing Magazine
          |         
          li
            a(href='http://thesassway.com/') The Sass Way
          |         
          li
            a(href='http://uxmastery.com/') UX Mastery
          |         
          li
            a(href='http://zurb.com/university/lessons') Zurb University
  section.footer-made-by
    .row
      .small-12-columns.text-center
        small
          a(href="humans.txt") Hand-crafted with passion
