header.fixed
  nav.top-bar(data-topbar='')
    ul.title-area
      li.name
        h1
          a(href='/')
            img(src="images/je-logo-bw-35x45@2x.png", alt="")
      li.toggle-topbar.menu-icon
        a(href='#') 
          span Menu
    section.top-bar-section
      ul.left
        li.active
          a(href='/') Home
        li
          a(href='http://writings.john-ellison.com/') Writings
      // Right Nav Section
      ul.right
        li: a(href='#welcome') Story
        li: a(href='#portfolio') Portfolio
        li
          a(href='/john-ellison-resume.pdf' data-event='view-resume') 
            | CV
        li: a(href='#contact') Contact
