nav.top-bar(data-topbar='')
  ul.title-area
    li.name
    li.toggle-topbar.menu-icon
      a(href='#') Menu   
  section.top-bar-section
    ul.left
      li
        a(href='/') Home
      li
        a(href='writings.john-ellison.com/') Writings
      li.site-logo.active
        a(href="/")
          span.j j
          span.e E
      li
        a(href='/#story') About
      li
        a(href='/#contact') Contact