nav.top-bar(data-topbar='')
  ul.title-area
    li.name
    li.toggle-topbar.menu-icon
      a(href='#') Menu   
  section.top-bar-section
    ul.left
      li.active
        a(href='/') Home
      li
        a(href='http://writings.john-ellison.com/') Writings
      li.site-logo
        a(href="/")
          img(src="images/je-logo-bw-35x45@2x.png", alt="")
      li
        a(href='/#story') About
      li
        a(href='/#contact') Contact