.icon-bar.four-up.label-right.show-for-large-up(role='navigation', data-magellan-expedition='fixed')
  a.item(data-magellan-arrival='story', href='#story')
    i.fi-bookmark
    label#itemlabel1 Story
  a.item(data-magellan-arrival='portfolio', href='#portfolio')
    i.fi-photo
    label#itemlabel2 Portfolio
  a.item(data-magellan-arrival='services', href='#services')
    i.fi-compass
    label#itemlabel3 Services
  a.item(data-magellan-arrival='contact', href='#contact')
    i.fi-mail
    label#itemlabel6 Contact
.icon-bar.three-up.hide-for-large-up(role='navigation')
  a.item(href='#portfolio')
    i.fi-photo
    label#itemlabel2 Portfolio
  a.item(href='#services')
    i.fi-compass
    label#itemlabel3 Services
  a.item(href='mailto:john@john-ellison.com?subject=I%20Saw%20Your%20Website', data-event='contact-button')
    i.fi-mail
    label#itemlabel6 Contact