section#top.top
  .row
    hgroup.welcome.home
      h1 John Ellison
      h2.subheader Storyteller &amp; UX Designer
  .row
    .callout
      p.lead Hey, my name is John. I'm a freelance UX Designer who loves to bring great stories into the light. Through crafting and executing digital strategies, I help build successful businesses online.
  a(href='#journey-passion-video')
    .arrow.bounce