.icon-bar.three-up.hide-for-large-up(role='navigation')
  a.item(href='#portfolio')
    i.fi-photo
    label#itemlabel2 Portfolio
  a.item(href='#services')
    i.fi-compass
    label#itemlabel3 Services
  a.item(href='mailto:john@john-ellison.com?subject=I%20Saw%20Your%20Website', data-event='contact-button')
    i.fi-mail
    label#itemlabel6 Contact