//- Testimonial
a(href='http://thengine.co' target='_blank')
  .row.testimonial
    // TODO: insert retina size images
    .medium-3.medium-push-9.columns.text-center
        img(src='images/michael-catlin-headshot.jpg')
        h5 Michael Catlin
    .medium-9.medium-pull-3.columns.text-center
      p.lead
        | &ldquo;John 
        span.lead-color understood our vision
        |  and crafted it into reality. He was the guy who took charge and made it happen. From 
        span.accent-color business strategy to user needs
        | , he was a rockstar.&rdquo;