//- Testimonial
a(href='/thengine.html')
  .testimonial-container.odd
    // TODO: insert retina size images
    .testimonial-author
        img(src='images/michael-catlin-headshot.jpg')
        h5 Michael Catlin
    .testimonial-content
      p.lead
        | &ldquo;John 
        span.lead-color understood our vision
        |  and crafted it into reality. He was the guy who took charge and made it happen. From 
        span.accent-color business strategy to user needs
        | , he was a rockstar.&rdquo;
