a(href='/jackie-stone-music.html' title='see the work I did for Michael')
  .testimonial-container
    .testimonial-author
      img(src='images/michael-mcdaniel-headshot.jpg')
      h5 Michael McDaniel
    .testimonial-content
      p.lead &ldquo;John Ellison is passionate about helping dreamers accomplish their dreams, and his medium for doing so is the web. I would recommend him to anyone who is ready to use the internet to take the next step in their career.&rdquo;