a(href='/jackie-stone-music.html' title='see the work I did for Michael')
  .testimonial-container
    .testimonial-author
      img(src='images/michael-mcdaniel-headshot.jpg')
      h5 Michael McDaniel
    .testimonial-content
      p.lead &ldquo;John Ellison is passionate about helping visionaries accomplish their dreams, and his medium for doing so is the web. His ability to design and code fluently in the browser made it easy for me to realize a web project that was central to my career.
