section#next-chapter.content-section
  .story-container
    hgroup.section-header
      h2 My Story
    .story-content
      .story-text
        p
          span.drop-cap D
        p uring an incredible chapter at 
          a(href="http://clearleft.com") Clearleft
          | , a top UX agency in the UK, I worked in a multi-disciplinary team to solve complex business problems using human-centered design. I dove deeper into the craft of digital design and discovered the key elements of a successful project. I honed my tools as a designer and realized the potential to apply what I learned towards a pressing humanitarian crisis.
        h4 Helping Refugees Prosper
        p While at Clearleft, I worked nights and weekends to start an initiative called 
          a(href="http://prosper.community") Prosper
          | &mdash;a diverse community of digital professionals working together to help refugees prosper in Europe. With a distributed team of volunteers, we built a central database of refugee crisis initiatives and began moving towards a more sustainable long-term model.
        h4 Leading Product Design & Crafting Social Change
        p Having found my niche at the intersection of digital design and social change, I've been thriving in a remote role as Lead Product Designer for 
          a(href="http://www.peakdemocracy.co/") Peak Democracy
          | &mdash;a successful Bay Area company that has empowered governments to engage with their citizens with online tools over the past ten years.
        p It's been a challenging and rewarding experience so far, and I'm enjoying taking on a leadership role within a progressive, distributed organization. We're testing the new version of our tool and I'm super excited to share it with the world. We're working to shape outcomes for public good&mdash;one pixel at a time...
        hr
        p Feel free to check out my portfolio below to get a sense of how I work. If there's anything you'd like to discuss, you can  
          a(href="mailto:john@john-ellison.com") send me an email
          |   or find me on 
          a(href="https://twitter.com/iamjohnellison") Twitter.
