section#next-chapter.content-section
  .story-container
    hgroup.section-header
      h2 My Story
    .story-content
      .story-text
        p
          span.drop-cap H
          | Having found my niche at the intersection of design, technology and social change, I've was thriving in a remote role as Lead Product Designer for 
          a(href="http://peakdemocracy.com") Peak Democracy
          | &mdash;a Bay Area company that has excelled as the leader in online civic engagement in North America over the past ten years.
          p While leading the redesign of Peak Democracy's flagship product, Open Town Hall, we discovered an exciting opportunity to partner with 
            a(href="https://opengov.com/") OpenGov
            |  for the next season of our journey to build public trust in government.
          p Peak Democracy merged with OpenGov in October. Shortly afterwards, 
            a(href="http://writings.john-ellison.com/my-journey-at-peak-democracy-from-design-leadership-to-product-management/") I transitioned from leading design to managing the product as a whole
            | . I've had the fortune and distinct pleasure of collaborating with an incredibly skilled and experienced team at OpenGov ever since. 
          p We're in the process of building Open Town Hall 2 as an integrated product in the OpenGov suite. With their technology and expertise, our goal is to help governments of all sizes engage with their residents for the good of society.
          p I've learned a lot so far, and look forward to sharing my progress on 
            a(href="http://writings.john-ellison.com") my blog
            |  for anyone who is interested in following along...
        hr
        p Feel free to check out my portfolio below to get a sense of how I work. If there's anything you'd like to discuss, you can  
          a(href="mailto:john@john-ellison.com") send me an email
          |   or find me on 
          a(href="https://twitter.com/iamjohnellison") Twitter.
