section#portfolio.content-section(data-magellan-destination='portfolio', name='portfolio')
  .portfolio-container
    hgroup.section-header
      h2 Portfolio
      h3.subheader Investing all that I am into all that I do
    .portfolio-items
      .portfolio-item
        .portfolio-screenshot
          a(href="/sprky-chess.html")
            img(src="images/sprky-imac.jpg", alt="screenshot of sprky chess app on an imac" data-interchange='[images/sprky-imac.jpg, (default)], [images/sprky-imac@2x.jpg, (retina)]')
        .portfolio-excerpt
          hgroup.portfolio-heading
            h3 SPRKY Chess
            h5.subheader Full-Stack, Ruby on Rails
          p For the capstone of The Firehose Project, we crafted an open source chess app using Ruby on Rails. With Test-Driven Development (TDD) as our guide, we built every element of the application&mdash;from the back-end Ruby to the front-end Javascript. The project was featured in 
            a(href="www.huffingtonpost.com/ken-mazaika/when-the-heck-did-learning-to-code-become-cool_b_7471938.html") an article on the Huffington Post.
          a.cta(href="/sprky-chess.html") View Case Study
      .portfolio-item.odd
        .portfolio-screenshot
          a(href="/thengine.html")
            img(src="images/thengine-galaxy-grey-bg.jpg", alt="screenshot of thengine's homepage on samsung galaxy")
        .portfolio-excerpt
          hgroup.portfolio-heading
            h3 Thengine
            h5.subheader UX Research &amp; Design
          p I led research and design for a startup out of the Founders Institute based in Denver, Colorado. From user interviews to prototyping and usability testing, I helped shape the vision and execution of a seed-funded startup that created tools for local musicians and their fans.
          a.cta(href="/thengine.html") View Case Study
      .portfolio-item
        .portfolio-screenshot
          a(href="/jackie-stone-music.html")
            img(src="images/jackie-stone-mbp-grey-bg.jpg", alt="screenshot of cloudegy homepage on an ipad" data-interchange='[images/jackie-stone-mbp-grey-bg.jpg, (default)], [images/jackie-stone-mbp@2x.jpg, (retina)]')
        .portfolio-excerpt
          hgroup.portfolio-heading
            h3 Jackie Stone Music
            h5.subheader UI Design &amp; Development
          p I helped New Orleans musician Michael McDaniel launch a new project called "The Wildfire" to a budding nationwide audience through a mobile-first responsive experience. The site is lightweight, semantic and performs at blazing speeds on all devices.
          a.cta(href="/jackie-stone-music.html") View Case Study
      .portfolio-item.odd
        .portfolio-screenshot
          a(href="/cloudegy.html")
            img(src="images/cloudegy-ipad-small.jpg", alt="screenshot of cloudegy homepage on an ipad" data-interchange='[images/cloudegy-ipad-small.jpg, (default)], [images/cloudegy-ipad@2x.jpg, (retina)]')
        .portfolio-excerpt
          hrgoup.portfolio-heading
            h3 Cloudegy
            h5.subheader Brand Strategy, UI Design &amp; Development
          p As a consultant for a Microsoft Managed Partner, I led brand strategy and UI Design for a community of innovators heading to the cloud. The end result was a mobile-first responsive website that launched Cloudegy's Spring 2015 immersive experiences.
          a.cta(href="/cloudegy.html") View Case Study

