section#portfolio.content-section(data-magellan-destination='portfolio', name='portfolio')
  .portfolio-container
    .portfolio-items
      hgroup
        h2 Portfolio
        h3.subheader Some of my most recent projects
      ul.m-portfolio-list.small-centered
        li.m-portfolio-list-item
          a(href="http://nomster-john-ellison.herokuapp.com" title='view the nomster app live')
            img.m-portfolio-list-thumbnail(data-interchange='[images/nomster.jpg, (default)], [images/nomster@2x.jpg, (retina)]' alt='Nomster App – Ruby on Rails development')
            noscript
              img.m-portfolio-list-thumbnail(src="images/michael-mcdaniel-music.jpg"  alt='Michael McDaniel – UX Design Project')
       
        li.m-portfolio-list-item
          a(href="http://cloudegydenver.com" title='live cloudegy website')
            img.m-portfolio-list-thumbnail(data-interchange='[images/cloudegy.jpg, (default)], [images/cloudegy@2x.jpg, (retina)]' alt='Cloudegy Denver – Digital Product Strategy Project')
            noscript
              img.m-portfolio-list-thumbnail(src="images/michael-mcdaniel-music.jpg"  alt='Michael McDaniel – UX Design Project')
        
        li.m-portfolio-list-item
          a(href="http://jackiestonemusic.com" title='view jackie stone music website live')
            img.m-portfolio-list-thumbnail(data-interchange='[images/jackie-stone.jpg, (default)], [images/jackie-stone@2x.jpg, (retina)]' alt='Jackie Stone – UX Design Project')
            noscript
              img.m-portfolio-list-thumbnail(src="images/michael-mcdaniel-music.jpg"  alt='Michael McDaniel – UX Design Project')
       
        li.m-portfolio-list-item
          a(href="michael-mcdaniel.html")
            img.m-portfolio-list-thumbnail(data-interchange='[images/michael-mcdaniel-music.jpg, (default)], [images/michael-mcdaniel-music@2x.jpg, (retina)]' alt='Michael McDaniel – UX Design Project')
            noscript
              img.m-portfolio-list-thumbnail(src="images/michael-mcdaniel-music.jpg"  alt='Michael McDaniel – UX Design Project')

        li.m-portfolio-list-item
          a(href="/thengine.html")
            img.m-portfolio-list-thumbnail(data-interchange='[images/thengine.jpg, (default)], [images/thengine@2x.jpg, (retina)]' alt='Thengine – UX Design Project')
            noscript
              img.m-portfolio-list-thumbnail(src='images/thengine.jpg', alt='Thengine – UX Research & Design Project')

        li.m-portfolio-list-item
          a(href="/littleton-christian.html")
            img.m-portfolio-list-thumbnail(data-interchange='[images/littleton-christian.jpg, (default)], [images/littleton-christian@2x.jpg, (retina)]' alt='Littleton Christian – UX Research & Design Project')
            noscript
              img.m-portfolio-list-thumbnail(src='images/littleton-christian.jpg', alt='Littleton Christian – UX Research & Design Project')

        li.m-portfolio-list-item
          a(href="http://roperwoodturning.com" title="link to roperwoodturning.com")
            img.m-portfolio-list-thumbnail(data-interchange='[images/roper-woodturning.jpg, (default)], [images/roper-woodturning@2x.jpg, (retina)]', alt='Michael Roper - Website Design Project')
            noscript
              img.m-portfolio-list-thumbnail(src='images/roper-woodturning.jpg' alt='Michael Roper - Website Design Project')

        li.m-portfolio-list-item
          a(href="http://pajaconstruction.com" title="link to pajaconstruction.com")
            img.m-portfolio-list-thumbnail(data-interchange='[images/paja-construction.jpg, (default)], [images/paja-construction@2x.jpg, (retina)]', alt='Paja Construction – Website Design Project')
            noscript
              img.m-portfolio-list-thumbnail(src='images/paja-construction.jpg', alt='Paja Construction – Website Design Project')

        li.m-portfolio-list-item
          img.m-portfolio-list-thumbnail(data-interchange='[images/project-dehradun.jpg, (default)], [images/project-dehradun@2x.jpg, (retina)]' alt='Project Dehradun – Branding & Web Design Project')
          noscript
            img.m-portfolio-list-thumbnail(src='images/project-dehradun.jpg', alt='Project Dehradun – Branding & Web Design Project')