section#portfolio.content-section(data-magellan-destination='portfolio', name='portfolio')
  .portfolio-container
    hgroup.section-header
      h2 Portfolio
      h3.subheader Investing all that I am into all that I do
    .portfolio-items
      .portfolio-item
        .portfolio-screenshot
          a(href="http://prosper.community")
            img(src="images/prosper.jpg", alt="prosper portfolio image" data-interchange='[images/prosper.jpg, (default)], [images/prosper@2x.jpg, (retina)]')
        .portfolio-excerpt
          hgroup.portfolio-heading
            h3 Prosper
            h5.subheader Digital Product Design
          p As a response to the crisis in Europe, I founded a community of digital workers around the belief that
            em "When refugees prosper, we all prosper"
            | . In four months the team grew from one person to ninety, and we successfuly launched an open source platform to help refugees, volunteers and donors find projects that meet their needs: 
            a(href="http://app.prosper.community") Prosper App
          a.cta(href="/prosper.html") View The Case Study

      .portfolio-item.odd
        .portfolio-screenshot
          a(href="https://90days.john-ellison.com")
            img(src="images/clearleft-training-project.jpg", alt="working with the team at Clearleft on a three-month workplacement" data-interchange='[images/clearleft-training-project.jpg, (default)], [images/clearleft-training-project@2x.jpg, (retina)]').radius
        .portfolio-excerpt
          hgroup.portfolio-heading
            h3 Clearleft
            h5.subheader UX Research, Strategy &amp; Design
          p I worked with a team of user experience designers at
            a(href="http://clearleft.com/") Clearleft
            |  to research and define new business concepts within the landscape of design training. I designed and facilitated story-driven workshops to shape the narrative of our design process. I helped pitch the new business opportunities to Clearleft executives and celebreated as several of the concepts were taken on by the organization.
          a.cta(href="https://90days.john-ellison.com") Read The Blog

      .portfolio-item
        .portfolio-screenshot
          a(href="/thengine.html")
            img(src="images/thengine-galaxy-grey-bg.jpg", alt="screenshot of thengine's homepage on samsung galaxy")
        .portfolio-excerpt
          hgroup.portfolio-heading
            h3 Thengine
            h5.subheader UX Research &amp; Design
          p I led research and design for a startup out of the Founders Institute based in Denver, Colorado. From user interviews to prototyping and usability testing, I helped shape the vision and execution of a seed-funded startup that created tools for local musicians and their fans.
          a.cta(href="/thengine.html") View Case Study

      .portfolio-item.odd
        .portfolio-screenshot
          a(href="/sprky-chess.html")
            img(src="images/sprky-imac.jpg", alt="screenshot of sprky chess app on an imac" data-interchange='[images/sprky-imac.jpg, (default)], [images/sprky-imac@2x.jpg, (retina)]')
        .portfolio-excerpt
          hgroup.portfolio-heading
            h3 SPRKY Chess
            h5.subheader Full-Stack, Ruby on Rails
          p For the capstone of The Firehose Project, we crafted an open source chess app using Ruby on Rails. With Test-Driven Development (TDD) as our guide, we built every element of the application&mdash;from the back-end Ruby to the front-end Javascript. The project was featured in
            a(href="http://www.huffingtonpost.com/ken-mazaika/when-the-heck-did-learning-to-code-become-cool_b_7471938.html") an article on the Huffington Post.
          a.cta(href="/sprky-chess.html") View Case Study

  .view-more-portfolio-container
    a(href="javascript:void()").cta.secondary#projects View More Projects
    ul.m-portfolio-list
      li: a(href="http://ellisonhomestead.com")
        img(src="images/ellison-homestead.jpg", alt="Ellison Homestead design project", data-interchange="[images/ellison-homestead.jpg, (default)], [images/ellison-homestead@2x.jpg, (retina)]").m-portfolio-thumbnail
      li: a(href="https://probaristas.com")
        img(src="images/pro-baristas.jpg", alt="pro-baristas project", data-interchange="[images/pro-baristas.jpg, (default)], [images/pro-baristas@2x.jpg, (retina)]").m-portfolio-thumbnail
      li: a(href="https://sophieellison.design")
        img(src="images/sophie-ellison-design.jpg", alt="sophie-ellison-design project", data-interchange="[images/sophie-ellison-design.jpg, (default)], [images/sophie-ellison-design@2x.jpg, (retina)]").m-portfolio-thumbnail
      li: a(href="/cloudegy.html")
        img(src="images/cloudegy.jpg", alt="cloudegy project", data-interchange="[images/cloudegy.jpg, (default)], [images/cloudegy@2x.jpg, (retina)]").m-portfolio-thumbnail
      li: a(href="http://flixter-john-ellison.herokuapp.com")
        img(src="images/flixter.jpg", alt="flixter ruby on rails project firehose curriculum", data-interchange="[images/flixter.jpg, (default)], [images/flixter@2x.jpg, (retina)]").m-portfolio-thumbnail
      li: a(href="http://nomster-john-ellison.herokuapp.com")
        img(src="images/nomster.jpg", alt="nomster ruby on rails project firehose curriculum", data-interchange="[images/nomster.jpg, (default)], [images/nomster@2x.jpg, (retina)]").m-portfolio-thumbnail
        li: a(href="/jackie-stone-music.html")
          img(src="images/jackie-stone.jpg", alt="jackie stone storytelling and ui design project", data-interchange="[images/jackie-stone.jpg, (default)], [images/jackie-stone@2x.jpg, (retina)]").m-portfolio-thumbnail
      li: a(href="http://www.pajaconstruction.com")
        img(src="images/paja-construction.jpg", alt="paja construction web design project", data-interchange="[images/paja-construction.jpg, (default)], [images/paja-construction@2x.jpg, (retina)]").m-portfolio-thumbnail
      li: a(href="http://www.roperwoodturning.com")
        img(src="images/roper-woodturning.jpg", alt="roper woodturning web design project", data-interchange="[images/roper-woodturning.jpg, (default)], [images/roper-woodturning@2x.jpg, (retina)]").m-portfolio-thumbnail
