section#portfolio.content-section(data-magellan-destination='portfolio', name='portfolio')
  .portfolio-container
    hgroup.section-header
      h2 Portfolio
      h3.subheader Investing all that I am into all that I do
    .portfolio-items
    
      .portfolio-item.odd
        .portfolio-screenshot
          a(href="https://90days.john-ellison.com")
            img(src="images/clearleft-training-project.jpg", alt="screenshot of thengine's homepage on samsung galaxy" data-interchange='[images/clearleft-training-project.jpg (default)], [images/clearleft-training-project@2x.jpg]').radius
        .portfolio-excerpt
          hgroup.portfolio-heading
            h3 Clearleft
            h5.subheader UX Research, Strategy &amp; Design
          p I worked with a team of user experience designers at Clearleft to research and define new business concepts within the market of design training, coaching and mentoring. I designed and facilitated participatory workshops using story structure to shape the narrative of our design process. Also, I had the opportunity to pitch new business opportunities to project stakeholders.
          a.cta(href="https://90days.john-ellison.com") Read The Blog

      .portfolio-item
        .portfolio-screenshot
          a(href="/thengine.html")
            img(src="images/thengine-galaxy-grey-bg.jpg", alt="screenshot of thengine's homepage on samsung galaxy")
        .portfolio-excerpt
          hgroup.portfolio-heading
            h3 Thengine
            h5.subheader UX Research &amp; Design
          p I led research and design for a startup out of the Founders Institute based in Denver, Colorado. From user interviews to prototyping and usability testing, I helped shape the vision and execution of a seed-funded startup that created tools for local musicians and their fans.
          a.cta(href="/thengine.html") View Case Study

      .portfolio-item.odd
        .portfolio-screenshot
          a(href="/jackie-stone-music.html")
            img(src="images/jackie-stone-mbp-grey-bg.jpg", alt="screenshot of cloudegy homepage on an ipad" data-interchange='[images/jackie-stone-mbp-grey-bg.jpg, (default)], [images/jackie-stone-mbp@2x.jpg, (retina)]')
        .portfolio-excerpt
          hgroup.portfolio-heading
            h3 Jackie Stone Music
            h5.subheader UI Design &amp; Development
          p I helped New Orleans musician Michael McDaniel launch a new project called "The Wildfire" to a budding nationwide audience through a mobile-first responsive experience.
          a.cta(href="/jackie-stone-music.html") View Case Study
          
      .portfolio-item
        .portfolio-screenshot
          a(href="/cloudegy.html")
            img(src="images/cloudegy-ipad-small.jpg", alt="screenshot of cloudegy homepage on an ipad" data-interchange='[images/cloudegy-ipad-small.jpg, (default)], [images/cloudegy-ipad@2x.jpg, (retina)]')
        .portfolio-excerpt
          hrgoup.portfolio-heading
            h3 Cloudegy
            h5.subheader Brand Strategy, UI Design &amp; Development
          p As a consultant for a Microsoft Managed Partner, I led brand strategy and UI Design for a community of innovators heading to the cloud. The end result was a mobile-first responsive website that launched Cloudegy's Spring 2015 immersive experiences.
          a.cta(href="/cloudegy.html") View Case Study

      .portfolio-item.odd
        .portfolio-screenshot
          a(href="/sprky-chess.html")
            img(src="images/sprky-imac.jpg", alt="screenshot of sprky chess app on an imac" data-interchange='[images/sprky-imac.jpg, (default)], [images/sprky-imac@2x.jpg, (retina)]')
        .portfolio-excerpt
          hgroup.portfolio-heading
            h3 SPRKY Chess
            h5.subheader Full-Stack, Ruby on Rails
          p For the capstone of The Firehose Project, we crafted an open source chess app using Ruby on Rails. With Test-Driven Development (TDD) as our guide, we built every element of the application&mdash;from the back-end Ruby to the front-end Javascript. The project was featured in 
            a(href="www.huffingtonpost.com/ken-mazaika/when-the-heck-did-learning-to-code-become-cool_b_7471938.html") an article on the Huffington Post.
          a.cta(href="/sprky-chess.html") View Case Study
          
  .view-more-portfolio-container
    a(href="javascript:void()").cta.secondary#projects View More Projects
    ul.m-portfolio-list
      li: a(href="https://sophieellison.design")
        img(src="images/sophie-ellison-design.jpg", alt="sophie-ellison-design project", data-interchange="[images/sophie-ellison-design.jpg, (default)], [images/sophie-ellison-design@2x.jpg, (retina)]").m-portfolio-thumbnail
      li: a(href="http://flixter-john-ellison.herokuapp.com")
        img(src="images/flixter.jpg", alt="flixter ruby on rails project firehose curriculum", data-interchange="[images/flixter.jpg, (default)], [images/flixter@2x.jpg, (retina)]").m-portfolio-thumbnail
      li: a(href="http://nomster-john-ellison.herokuapp.com")
        img(src="images/nomster.jpg", alt="nomster ruby on rails project firehose curriculum", data-interchange="[images/nomster.jpg, (default)], [images/nomster@2x.jpg, (retina)]").m-portfolio-thumbnail
      //- li: a(href="/michael-mcdaniel.html")
        img(src="images/michael-mcdaniel-music.jpg", alt="michael mcdaniel storytelling and ui design project", data-interchange="[images/michael-mcdaniel-music.jpg, (default)], [images/michael-mcdaniel-music@2x.jpg, (retina)]").m-portfolio-thumbnail
      li: a(href="http://www.pajaconstruction.com")
        img(src="images/paja-construction.jpg", alt="paja construction web design project", data-interchange="[images/paja-construction.jpg, (default)], [images/paja-construction@2x.jpg, (retina)]").m-portfolio-thumbnail
      li: a(href="/elliott-orthodontics.html")
        img(src="images/elliott-ortho.jpg", alt="elliott ortho ui design and development project", data-interchange="[images/elliott-ortho.jpg, (default)], [images/elliott-ortho@2x.jpg, (retina)]").m-portfolio-thumbnail
      li: a(href="http://www.roperwoodturning.com")
        img(src="images/roper-woodturning.jpg", alt="roper woodturning web design project", data-interchange="[images/roper-woodturning.jpg, (default)], [images/roper-woodturning@2x.jpg, (retina)]").m-portfolio-thumbnail
