.testimonial-container
  .testimonial-author
    a(href="https://www.linkedin.com/in/robert-vogel-2b72678/")
      img(src='images/robert-vogel.jpg')
      h5 Robert Vogel
    small CEO, 
      a(href="http://peakdemocracy.co") Peak Democracy
  .testimonial-content
    p.lead &ldquo;As lead product designer, John is leading our company through a major product redesign.  His intense focus on the needs of our customers is paralleled by his deep desire to understand our business and meet its goals.
    p.lead &ldquo; John thinks strategically and produces results quickly.  After a few short months, he has already redesigned key components of our product which have been reviewed and applauded by multiple clients as beautiful enhancements to our legacy system.
    p.lead &ldquo;As a result of his insightful strategic work, John has also become a key asset to our senior management team.  John is great.&rdquo;
