a(href='http://roperwoodturning.com')
  .row.testimonial
    // TODO: insert retina size images
    .medium-3.columns.text-center
      img(src='images/roper-headshot.png')
      h5 Michael Roper
    .medium-9.columns
      p.lead
        | &ldquo;If it wasn&apos;t for the 
        span.lead-color amazing website
        |  John built me, I wouldn&apos;t have scored these video gigs or a bunch of the jobs I&apos;ve gotten lately. John doesn&apos;t just build you a website, he 
        span.accent-color builds you a business online
        | .&rdquo;