a(href='http://roperwoodturning.com')
  .testimonial-container.odd
    .testimonial-author
      img(src='images/roper-headshot.png')
      h5 Michael Roper
    .testimonial-content
      p.lead
        | &ldquo;Since John built me a website, I&apos;ve been featured as the cover story on a national magazine, and my business has grown faster than I ever imagined. John doesn&apos;t just build you a website, he builds you a business online.&rdquo;