section#services.content-section(data-magellan-destination='services', name='services')
  .row
    .services-content
      hgroup
        h2
          i.fi-compass
          |  Services
        h3.subheader Crafting business stories online
  br
  .row
    .service-column
      figure.m-service-icon
        i.fi-key 
      h3 Research
      p
        | Research is about getting out of the office and validating hypotheses. A deep understanding of an audience and their needs forms the foundation of any solid strategy.  
      a.cta(href='mailto:john@john-ellison.com?subject=Research', data-event='contact-button') Learn More
    .service-column
      figure.m-service-icon
        i.fi-pencil
      h3 Strategy
      p
        | Strategy is about crafting research and vision into a measurable plan of action. If you cannot measure it, it cannot be improved. Strategy is the most crucial part of any project. If the strategy is wrong, all attempts at creation will fail.
      
      a.cta(href='mailto:john@john-ellison.com?subject="UX%20Design', data-event='contact-button') Learn More
    .service-column.end
      figure.m-service-icon
        i.fi-html5
      h3 Creation
      p
        | This is where research and strategy come to life. Whether it's a website, an application or a video&mdash;the goal is the same: create something that adds value to people's lives.
      
      a.cta(href='mailto:john@john-ellison.com?subject="Web%20Development', data-event='contact-button') Learn More
