section#services.content-section(data-magellan-destination='services', name='services')
  .row
    .services-content
      hgroup
        h2
          i.fi-compass
          |  Services
        h3.subheader Building successful businesses online
  br
  .row
    .service-column
      figure.m-service-icon
        i.fi-key 
      h3 Digital Strategy
      p
        | I help businesses craft digital strategies, validate hypotheses, and measure the effectiveness of their efforts. The success of any design and development work depends on strategy.
      a.cta(href='#digital-strategy') Learn More
    .service-column
      figure.m-service-icon
        i.fi-pencil
      h3 UX Design
      p
        | I design digital experiences that meet the needs of a business 
        em and 
        |  its users. When a project centers around a website or web application, the user's experience becomes a key ingredient to its success. 
      
      a.cta(href='#web-development') Learn More
    .service-column.end
      figure.m-service-icon
        i.fi-html5
      h3 Web Development
      p
        | I craft code to transform strategy and design into user interfaces. Using the latest technologies in front-end development, I develop websites that adapt to all device sizes.
      
      a.cta(href='#ux-design') Learn More
