section#services.content-section(data-magellan-destination='services', name='services')
  .services-container
    .services-content
      hgroup
        h2 Services
        h3.subheader Crafting effective stories through UX Design
  br
  .services-container
    .service-column
      figure.m-service-icon
        i.fi-key 
      h3 Research
      p
        | Research is an iterative process of defining and validating hypotheses. We want to understand your audience and the world they live in. Also, we want to test our assumptions  to learn how to serve your audience best. 
      //- a.cta(href='mailto:john@john-ellison.com?subject=Research', data-event='service-contact-button') Learn More
      
    .service-column
      figure.m-service-icon
        i.fi-pencil
      h3 Strategy
      p
        | Strategy is about crafting research and vision into a 
        em  measurable
        |  plan. If you cannot measure something, it cannot be improved. Strategy is the most crucial part of any project. If the strategy is wrong, all attempts at creation will fail.
      //- a.cta(href='mailto:john@john-ellison.com?subject="Strategy', data-event='service-contact-button') Learn More

    .service-column.end
      figure.m-service-icon
        i.fi-html5
      h3 Creation
      p
        | This is where research and strategy come to life. Whether it&apos;s a website, an application or a video&mdash;the goal is the same: create something that empowers people to live better lives. Do that, and everything else will follow.
      //- a.cta(href='mailto:john@john-ellison.com?subject="Creation', data-event='service-contact-button') Learn More
