.testimonial-container.odd
  .testimonial-author
    a(href="https://www.linkedin.com/in/natasha-freidus-4ba4b312/")
      img(src='images/natasha-freidus@2x.jpg')
      h5 Natasha Freidus
    small CEO, 
      a(href="http://http://needslist.co/") NeedsList
  .testimonial-content
    p.lead
      | &ldquo;John led our product team through discovery and research into prototyping and through several iterations. I was very impressed by John's capacity as a designer, as a team leader, and as a writer.  John will go out of his way to make sure clients are happy with the final product.&rdquo;
