section#next-chapter.content-section
  .story-container
    .story-content   
      h2 My Next Chapter
      .story-text
        p 
          span.drop-cap I
          | n 18-months of freelancing, I had the honor of helping nine entrepreneurs launch their dream businesses and share their stories with the world. I learned more than I ever could have imagined along the way, and recently decided to seek full-time employment with a company that 
          em lives a great story.

        p As a freelancer, I learned how to design and how to code, I learned how to test assumptions with real users, how to manage expectations and how to create simple solutions from complex problems.

        p But most of all, freelancing taught me taught me the power of living a story worth living, and showed me that I couldn't do all that I dreamt of alone.

        blockquote
          em Living a great story is about having an answer to this question and pursuing it at all costs: "Why am I here? What's wrong with the world and how can I fix it?" 

        p I want to team up with entrepreneurs whose answer to the problem of this world is so much more than making huge profits. I want to invest my skills and my passions in a company that has a 
          em mission&mdash;
          | not just a mission statement.

        p After months of research I finally found a few companies whose mission makes me excited to get up in the morning. I decided to let go of the freelance lifestyle for a chance to be part of something bigger. Hopefully I'll learn more than I ever could have learned on my own and become an integral part of a creative team. 

        .callout
          p Feel free to check out my 
            a(href="#portfolio") portfolio
            | , 
            a(href="http://writings.john-ellison.com") writings
            | , or 
            a(href="#clients") what my clients have to say.
            |  If you're interested in working together, I'd love to get coffee and learn more about your story and the mission of your work.
