h2 My Next Chapter
.story-text
  p In a year of freelancing, I had the honor of helping nine entrepreneurs launch their dream businesses and share their stories with the world. I learned more than I ever could have imagined along the way, and recently decided to seek full-time employment with a company that shares my values. 

  p Freelancing taught me how to distill complex problems into simple solutions, manage expectations, and establish strategic partnerships. It also taught me the power of working in a creative team motivated by a collective vision.

  p In short, I realized I couldn't do all that I dreamt of alone...

  blockquote
    p There is a revolution in the world of business, technology and design. Business is no longer about broadcasting the benefits of your product to every person imaginable. Business is about being human, and being human is so much more than making profits. 

    p Humans are constantly asking, "Why am I here? What's wrong with the world and how can I fix it?" I believe the next generation of entrepreneurs will revolve around this question. I want to empower purpose-driven entrepreneurs to find their answers and help make the world a better place.

  p After months of research I finally found a few companies that share this passion for purpose-driven entrepreneurship. I decided to let go of the freelance lifestyle for a chance to be a part of a culture that is committed to crafting a better world—one startup at a time.

  p If you're one of those companies I found—thank you. Thank you for your passion and for doing what you believe in. Thank you for taking the time to consider me as an ally on your journey. It's an honor.

  p Feel free to check out my 
    a(href="#portfolio") portfolio
    | , 
    a(href="http://writings.john-ellison.com") writings
    | , or 
    a(href="#clients") what my clients have to say.
    |  If you're interested in working together, I'd love to get coffee and learn more about your vision for your business.
