section#next-chapter.content-section
  .story-container
    hgroup.section-header
      h2: a(href="http://solvetherefugeecrisis.com") Refugee Crisis in Europe
      h4.subheader The Next Chapter of My Journey
    .story-content   
      .story-text
        p 
          span.drop-cap O
          |  n November 6th I concluded a three-month work placement with 
          a(href="http://clearleft.com" alt="Clearleft a world class design consultancy and studio in Brighton, England") Clearleft and was faced with a difficult decision: Join a world-class design consultancy or follow my passion to help refugees in Europe.

        .callout
          p I created a website called 
            a(href="https://90days.john-ellison.com") &lsquo;90 Days&rsquo;
            |  to share my learning and experience during my time at Clearleft. Some of my posts can also be found on 
            a(href="http://clearleft.com/thinks") Clearleft's Blog
            | .
