h2 The Next Chapter
.story-text
  p In a year of freelancing, I empowered nine passionate entrepreneurs to launch their dream businesses and share their stories with the world. I learned more than I ever could have imagined along the way, and recently I decided to seek full-time employment. 

  p I realized that as an employee on the right team, I could help entrepreneurs more than I ever could alone. Working on short-term projects kindled my desire to invest my passions and my skills into a long-term mission alongside creatives who shared the same vision.

  p There is a revolution in the world of business, technology and design. Business is no longer about broadcasting the benefits of your product to every person imaginable. Business is about being human, and being human is so much more than making profits. Humans are constantly asking, "What is my purpose in life?" and I believe helping people answer that question not only enables them to live better lives but it sparks delight and happiness that spreads like wildfire.

  p After months of research I've compiled a list of companies across the world who share the same vision. 