h2 My Next Chapter
.story-text
  p In a year of freelancing, I empowered nine entrepreneurs to launch their dream businesses and share their stories with the world. I learned more than I ever could have imagined along the way, and recently decided to seek full-time employment with a company that shares my vision for entrepreneurship. 

  p Freelancing taught me how to create products people want, how to manage expectations, and how to sell solutions for real problems. It also taught me the power of working with a creative team motivated by shared values.

  p In short, I realized I couldn't do all that I dreamt of alone...

  blockquote
    p There is a revolution in the world of business, technology and design. Business is no longer about broadcasting the benefits of your product to every person imaginable. Business is about being human, and being human is so much more than making profits. 

    p Humans are constantly asking, "Why am I here? What's wrong with the world and how can I fix it?" I believe the next generation of entrepreneurs will revolve around this question. I want to empower purpose-driven entrepreneurs to find their answers and help make the world a happier place.

  p After months of research I finally found a few companies that share this passion for purpose-driven entrepreneurship. I'm willing to give up the freedom and fruits of freelancing in return for the fertile soil of a company culture committed to crafting a better world together—one startup at a time.

  p If you're one of those companies I found—thank you. Thank you for doing what you believe in and thank you for taking the time to consider me as an ally on your journey. It's an honor.

  p Feel free to check out my 
    a(href="#portfolio") portfolio
    | , 
    a(href="http://writings.john-ellison.com") writings
    | , or 
    a(href="#clients") what my clients have to say.
    |  If you're interested in working together, I'd love to setup a time to meet in person.
