section#next-chapter.content-section
  .story-container
    hgroup.section-header
      h2: a(href="https://90days.john-ellison.com") 90 Days at Clearleft
      h4.subheader The Next Chapter of My Journey
    .story-content   
      .story-text
        p 
          span.drop-cap O
          |  n August 3rd I embarked on a three-month work placement with 
          a(href="http://clearleft.com" alt="Clearleft a world class U Design agency in Brighton, England") Clearleft
          | &mdash;a world-class User Experience design agency in Brighton, England. I am so thankful to be given this opportunity to work with some of the brightest minds in the industry and to collaborate with a senior team as a supporting designer on a variety of projects. Hopefully we'll be able to work together to make the world a little bit better through great design.

        .callout
          p I created a website called 
            a(href="https://90days.john-ellison.com") &lsquo;90 Days&rsquo;
            |  to share my learning and experience during my time at Clearleft. Some of my posts can also be found on 
            a(href="http://clearleft.com/thinks") Clearleft's Blog
            | .
