section#next-chapter.content-section
  .story-container
    hgroup.section-header
      h2: a(href="http://solvetherefugeecrisis.com") Refugee Crisis in Europe
      h4.subheader The Next Chapter of My Journey
    .story-content   
      .story-text
        p 
          span.drop-cap O
          |  n November 6th I concluded a three-month work placement with 
          a(href="http://clearleft.com" alt="Clearleft a world class design consultancy and studio in Brighton, England") Clearleft
          |  and was faced with a difficult decision: Join a world-class design consultancy or follow my heart to help suffering people across the crisis in Europe.
        h4 How did this start?
        p My wife and I reached out to an organization called 
          a(href="http://refugees-welcome.net") Refugees Welcome
          |  to offer our spare bedroom to a person seeking refuge. After several weeks, a representative kindly replied asking for forgiveness&mdash;they were overwhelmed with requests from all over the world. There were thousands of people like us who contacted Refugees Welcome and offered to help. Refugees Welcome introduced us to a group of people in the UK who had similar ambitions, but we apparently needed to create an organization first to make it happen...
        p The communication that ensued was chaotic and difficult to follow. With dozens of emails per day filling up my inbox and several meetings per week&mdash;I had to take a step back to maintain focus at my newly found full-time job at Clearleft.
        h4 Potential for Digital Creatives
        p The more I worked at Clearleft the more I realized the potential for digital creatives to create a massive impact amidst the refugee crisis. The problems that Refugees Welcome were facing in delivering a service at scale was something that could easily be solved using design and technology.
        p The more I read about the refugee crisis, the more I wanted to know more. The complexity of the problem was unlike anything I'd ever seen before. The scale of the suffering reminded me of the horrors of World War II.
        p I dug beneath the veil of mainstream media and uncovered an entire newsroom of volunteers and aid workers on the ground. From Lesvos to Berlin&mdash; there were millions of pieces of social media being shared regarding the situation on the ground.
        p I watched one clip which was a compiliation of social media footage that took the viewer on a journey from Aleppo all the way to Berlin. What I saw broke me. The structures in my face crippled beneath the weight of these people's suffering. Children being pulled out of rubble. Families fleeing explosions and gunfire. Babies being tossed out of boats to aid workers hands to keep from drowning. Women waiting in the pouring rain while breastfeeding. Fathers tearing at their chests in despair.
        p This was happening all across Europe. As I sat there in the comfort of my home people were dying. As I worked behind my Macbook Pro and drank espresso there were thousands of men, women and children waiting in the rain with no food water or shelter.
        h4 My Response
        p I contemplated all that I could do. I could go and help. We could move to Lesvos and hand out water bottles. We could protest. We could write stories. We could walk alongside people on their journey and help carry their things with them.
        p There were a thousand and one things to be done and more. But something in me called out from within, something that wanted to fulfill my potential as a budding designer. Something that wanted to use the creative power of the web.
        p After many weeks of research and speaking to people across the crisis, I decided to setup a website to see if there were any other digital workers who were interested in working to help solve the crisis. Designers and developers are incredible problem solvers. What if we could support organizations in need with skilled digital labor? 
        p What if we could create committed local communities across Europe? What if we could create an apprenticeship for people seeking refuge who wanted to land a job in the industry? What if we could create a central database for all the projects of the refugee crisis? What if we could create a research platform that showed the problems of the refugee crisis across Europe?
        

        .callout
          p These are the kinds of questions we are trying to answer. After five weeks, we've built a talented team of over 60 digital creatives from all over the world. We're growing fast and beginning to make significant scalable impact. If you're interested in learning more or want to join the team, check out our website: 
          a.cta(href="http://prosper.community" alt="Helping Refugees Prosper in Europe") Prosper.Community >>
