section#ux-design.content-section
  .service-detail-wrapper
    .service-detail-content
      h2
        i.fi-pencil
        |  UX Design
      img.service-header-image(data-interchange='[images/john-ellison-ux-design-process.jpg, (default)], [images/john-ellison-ux-design-process@2x.jpg, (retina)]')
      noscript
        img(src='images/john-ellison-ux-design-process.jpg', alt='my user experience design process')
      h3 What is UX?
      p There are dozens of definitions for User Experience Design. Some consider it a discipline, some consider it an umbrella for many disciplines, and others make it synomymous with user interface design. In my opinion, UX Design is so much more than crafting a usable interface. 
      p It is about engaging and 
        em knowing
        |  your customers. It is about serving their needs as the complex humans they are. It is about empowering people to take the driver seat of their own digital experience. People are willing to speak. The question is, are we willing to listen?
      h4 Why UX?
      p UX Design has the potential to create delight in digital experiences&mdash;to transform the menial and mediocre into the visceral and desirable. A user's experience with a business is often a deciding force. It can determine what they think of your business and whether they are willing to entrust you with their 
        em attention
        | &mdash;let alone their time and money. UX is a game changer. 
      p If you know what it is like to pour your time, money, and passion into a project&mdash;you want to do everything you can to create a positive and enjoyable experience for your user at all points of contact. Now we're on the same page about the importance of your customer's experience with your business, how do we go about creating unforgettable experiences for our users?
      h4 What does a UX designer do?
      p The end result of a user experience design project is usually a website or a web application. Much of a UX Designer's work lives behind the interface and can include tasks such as user interviews, surveys, personas, scenarios, flow diagrams, storyboards, usability tests and heuristic evaluation.
      p While the UX Designer doesn't always craft the code which brings the project to life, they often work closely with the development team to ensure that every decision reflects the designed experience.
      p A majority of User Experience Design projects have a similar process, although practitioners might classify each stage differently. 
      ul 
        li Strategy
        li Research
        li Analysis
        li Design
        li Production
      p This image from 
         a(href="http://uxmastery.com/") UX Mastery 
         |  shows the iterative ux process mentioned above.
      a(href="http://uxmastery.com/resources/process/")
        img(src="images/ux-process.png", alt="user experience design process from ux mastery")
      h4 How much does it cost?
      p While most contractors work on an hourly basis, I try to work with my clients to define a specific scope and charge based upon the value of the deliverables. That being said, value is often a very subjective topic. While one business may want to achieve X, Y, and Z in a given project and be willing to pay $20,000 for it, another business may want to achieve A through Z and only pay $2,000.
      p Although, it is sometimes the most appropriate option for both the business and the ux designer to agree on an hourly rate. I've done a lot of research and spoken to many other UX designers about industry standard rates. While it does vary by region and experience, between $65 and $100 is usually a standard rate for a professional UX Designer.
      p I do my best to work with my clients to arrive on a rate and total cost that is mutually beneficial.
      h5 Sources
      ul
        li
          a(href="http://www.quora.com/What-are-customary-hourly-rates-and-or-rate-ranges-for-UX-UI-IA-designers-in-the-Los-Angeles-Metro-area") Quora: Hourly Rate Ranges for UX Designers in LA Area
        li
          a(href="http://www.quora.com/What-is-a-reasonable-hourly-rate-for-a-IA-UI-UX-designer-in-the-Seattle-area") Quora: Hourly Rate Ranges for UX Designers in Seattle Area
      h4 Why would I hire a UX Designer?
      p The beautiful thing about UX as compared to web design is that it is not about what &lsquo;looks good&rsquo; but about what helps users and businesses acheive their goals. When you craft a website or web application, you're able to use analytics tools to track specific metrics and gauge success of a given initiative. 
      p With each initiative, you will be able to analyze concrete analytics to determine if our efforts succeeded in meeting your business goals.
      p As a part of any UX project, I work to define specific success metrics so we can calibrate our efforts based upon their effectiveness. It often requires several iterations to hit success metrics, but at the end of an there is a clear and objective indicator of a project's success.
      h4 Where do we start?
      p A project often begins with a discovery/strategy phase where I meet with stakeholders and uncover all your ideas, goals and concerns. As a UX Designer, my job is to understand the high-level concept and vision as well as the steps necessary to craft a solution. What makes UX different from other processes is the involvement of users throughout the project. To some level, we have to be in agreement on that vision. A UX designer can advise and inform about the benefits of user-centered design, but it all boils down to what you value and are willing to invest in.
      h4 Lets talk
      p If you have an idea for a website or web application and you have a desire to serve a specific audience&mdash;
        a(href="mailto:john@john-ellison.com?subject=Lets%20Talk%20UX" data-event='contact-button') send me an email.
        |  I'd love to hear about your story and your vision for the project. Soon we'll be on our way to crafting a solution that brings your idea to life.
  
  //- Testimonial
  include cory-testimonial
  