section#web-development.content-section
  .service-detail-wrapper
    .service-detail-content
      h2
        i.fi-html5
        |  Web Development
      img(data-interchange='[images/web-development-john-ellison.jpg, (default)], [images/web-development-john-ellison@2x.jpg, (retina)]', class='service-header-image')
      noscript
        img(src='images/web-development-john-ellison.jpg', alt='crafting some code')
      h3 What kind of web development?
      p I specialize in responsive front-end web development. Before I touch a line of code, I make sure that content has either been approved or is well on its way to being approved. Prioritizing content allows me to make better decisions about how to develop the website's layout and interaction.
      p When developing a website, I start coding for the smallest device size. A mobile-first development approach ensures that the website provides a great experience for mobile users. It also allows the code to evolve from the simplest layout to the most complex.

      h4 What tools do you use?
      p I use a special set of tools that allows me to view the website I'm developing on multiple devices at the same time. Everytime I make a change, it is updated on all devices. This framework allows me to ensure that I'm developing an optimal experience across all screen sizes and operating systems.
      p When working on a flat-file website (just HTML, CSS, and JavaScript), I use a development framework with 
        a(href="http://foundation.zurb.com/") Zurb Foundation 5,
        a(href="http://gulpjs.com/")  Gulp
        |  and
        a(href="http://jade-lang.com/")  Jade.
        |  The framework is a fork of a 
        a(href="https://github.com/yeoman/generator-gulp-webapp") Yeoman generator
        | .  I maintain my fork of the framework on Github. Feel free to check it out and give it a try if you like:
      ul
        li
          a(href="https://github.com/johnellison/gulp-webapp-foundation-jade")  Gulp Webapp Foundation Jade.

      h4 Can you do back-end web development?
      p I am currently enrolled in a Ruby on Rails bootcamp taught by some incredibly talented Rails developers. I am looking forward to putting my back-end skills to use on some live projects.
      p Also, I currently work with some talented back-end developers on my projects, so if your project requires a well-crafted back-end, we can definitely make that happen.

      h4 What about Wordpress?
      p Most web developers have worked with Wordpress at one point in their careers. I prefer to use the 
        a(href="http://www.studiopress.com/features") Genesis framework
        |  for most of my Wordpress projects. After trying many different themes and frameworks, I kept turning back to Genesis for its architecture, performance and reliability.
      p As most people know, Wordpress is the most popular content management system, but at its heart Wordpress is a blog. Whenever a website requires different types of content besides a blog, Wordpress can be unweildy.
      p I like to use a tool the way it was designed to be used. For every tool&mdash;a purpose&mdash;for every purpose&mdash;a tool.
      p So when a website needs a few static pages and a blog behind it, Wordpress is often the best choice. But for more complex content types and functionality&mdash;I often pick other technologies over Wordpress.
      h4 Can you develop an app?
      p In short&mdash;yes. To be specific, I can develop web applications, but I am not a mobile app developer. To clarify what you mean by &lsquo;app&rsquo;:
      p The word &lsquo;app&rsquo; can be used to describe a mobile app and a web app. Here's the difference:
      p A mobile app is an application which runs natively on a mobile operating system (iOS, Android, Windows). It is usually downloaded from an app store and accessed within the 'applications' on that device. A web app is an application which runs on a server that is constantly connected to the web. It is accesible from any browser and from any device. There are pros and cons to each type of &lsuqo;app&rsquo;, and choosing which to use for a given project is a strategic decision.
      h4 Is custom web development worth it?
      p In many circumstances, custom web development is not the right solution. Depending on the needs of a project, using Squarespace or Wordpress is often the right choice. But when it comes to designing and developing custom experiences from scratch, custom design and development are crucial to a projects success. 
      p When a business model centers around a website or web app, the execution of strategy and design is a crucial element of success. Scalability and performance can be determining factors when choosing custom development over an existing solution. When your project needs to be able to evolve to meet your user's needs, custom web development is often the best option.
      h4 Lets talk
      p I'd love to hear about your project and learn more about you and your vision. Feel free to
        a(href="mailto:john@john-ellison.com?subject=Lets%20Talk%20UX" data-event='contact-button')  send me an email.
        |  I'm always happy to help guide you in the right direction, even if I'm not the best fit for the job.

  //- Testimonial
  include roper-testimonial