section#welcome.content-section
  .welcome-container
    hgroup.welcome
      h1 My name is John.
      h2.subheader I empower entrepreneurs to share 
        strong  their stories
        |  with the world.
    .welcome-content
      h2 My Story
      .welcome-video.widescreen.vimeo
        iframe(src="//player.vimeo.com/video/121852108?color=7e8b9e&title=0&byline=0&portrait=0&api=1&player_id=welcome-video" id="welcome-video" width="640" height="390" frameborder="0" data-progress="true" data-seek="true" data-bounce="true" webkitAllowFullScreen mozallowfullscreen allowFullScreen)
  .story-container
    .story-content
      include the-next-chapter
