// m-marquee
.m-marquee {
  height: 550px;
  background-size: cover;
  background-position: 50% 50%;

  hgroup {
    padding-top: 5.4rem;
    text-align: center;
    margin-bottom: 1.8rem;
    @media #{$medium-up} {
      padding-top: 3.6rem;
    }
    > * {
      color: white;
    }
    h1 {
      line-height: 1;
      margin-bottom: 0;
      font-size: 2.618rem;
      @media #{$medium-up} {
        font-size: 4.3rem;
      }
      @media #{$large-up} {
        font-size: 6.854rem;
      }
    }
    .subheader {
      font-size: 1.618rem;
    }
  }
  &#thengine {
    background-image: url('../images/thengine-bg.jpg');
    @media #{$medium-up} {
      padding-top: 1.8rem;
    }
  }
  &#michael-mcdaniel {
    background-image: url('../images/michael-mcdaniel-bg.jpg');
  }
  &#littleton-christian {
    background-image: url('../images/littleton-christian-bg.jpg');
  }
  &#jackie-stone {
    background-image: url('../images/jackie-stone-bg.jpg');
  }
  &#cloudegy {
    background-image: url('../images/cloudegy-bg.jpg');
  }
  &#elliott-ortho {
    background-image: url('../images/elliott-ortho-bg.jpg');
    background-position: 75% 50%;
  }
  &#nomster {
    background-image: url('../images/nomster-bg.jpg');
  }
  &#sprky {
    background-image: url('../images/sprky-bg.jpg');
  }

}