// m-marquee
.m-marquee {
  height: 550px;
  background-size: cover;
  background-position: 50% 50%;

  hgroup {
    padding-top: 11rem;
    text-align: center;
    > * {
      color: white;
    }
    .cta {
      @include cta-white-font;
    }
    h1 {
      line-height: 1;
    }
  }

  &#thengine {
    background-image: url('../images/thengine-bg.jpg');
  }
  &#michael-mcdaniel {
    background-image: url('../images/michael-mcdaniel-bg.jpg');
  }
  &#littleton-christian {
    background-image: url('../images/littleton-christian-bg.jpg');
  }
  &#writings-index {
    background-image: url('../images/writings-bg.jpg');

    @media #{$medium-up} {
      background-image: url('../images/writings-bg-1280x710.jpg');
    }

    @media #{$large-up} {
      background-image: url('../images/writings-bg-1440x799.jpg');
    }
  }
}