// m-portfolio
.m-portfolio-list {
  @include block-grid(1);
  display: table;
  margin: 1.8rem auto 0rem auto !important;
  text-align: center;

  @media #{$medium-up} {
    @include block-grid(3);
  }

  .m-portfolio-thumbnail {
    background: white;
    border-radius: $global-radius;
    margin-bottom: 0;
  }
}
