// m-services
.m-service-icon {
  width: 175px;
  height: 175px;
  border-radius: 175px;
  border-radius: 50%;
  border: 2px solid $header-font-color;
  margin: 0 auto 1rem auto;
  padding: 40px 0;

  @media #{$small-only} {
    margin-top: 1rem;
  }

  i {
    color: $header-font-color;
    font-size: 4.5rem;
    // font-weight: 200;
    line-height: 1.3;
  }
}