.top-bar-section {
  display: table;
  margin: 0 auto;
  ul li {
    background: none;
    &:hover {
      border-bottom: 1px solid $body-font-color;
    }
    i {
      margin-right: .5rem;
    }
    a {
      @include uppercase-styling;
      font-family: $font-family-sans-serif;
    }
    &.site-logo {
      margin-right: 0;
      position: relative;
      top: -3px;
      @media #{$small-only} {
        display: none;
      }
      span.j {
        text-transform: none;
        font-weight: 300;
        position: relative;
        // top: -5px;
        font-size: 1.5rem;
      }
      span.e {
        font-family: $font-family-serif;
        position: relative;
        left: -7.6px;
        margin-right: -7.6px;
      }
    }
  }
} 

.top-bar {
  margin-bottom: -55px;
}

