// m-testimonial

.testimonial-container {
  @include grid-row();
  padding: 0rem 1rem 1rem 1rem;
  margin-bottom: 1.8rem;

  .testimonial-author {
    @include grid-column(12);
    text-align: center;

    @media #{$medium-up} {
      @include grid-column(3);
    }

    img {
      margin-top: .9rem;
      margin-bottom: .9rem;
      border-radius: 50%;
      width: 130px;
      height: 130px;
    }

  }

  .testimonial-content {
    @include grid-column(12);
    text-align: center;

    @media #{$medium-up} {
      @include grid-column(9);
      text-align: left;
    }

    p.lead {
      margin-top: 2rem;
      color: $body-font-color;
    }
  }

  &.odd {
    .testimonial-author {
      @media #{$medium-up} {
        @include grid-column($columns: 3, $push: 9);
      }
    }

    .testimonial-content {
      @media #{$medium-up} {
        @include grid-column($columns: 9, $pull: 3);
      }
    }
  }
}

.main-article-content {
  .testimonial-container {
    margin-bottom: 0;
  }
  .testimonial-content {
    h5 {
      font-size: 1rem;
    }
    p.lead {
      margin-top: .9rem;
      font-size: 1rem;
    }
  }
}
