// m-testimonial

.testimonial-container {
  @include grid-row();
  background-color: white;
  padding: 0rem 1rem 1rem 1rem;
  margin-bottom: 3rem;
  border-radius: $global-radius;
  @include global-hover();

  .testimonial-author {
    @include grid-column(12);
    text-align: center;


    @media #{$medium-up} {
      @include grid-column(3);
      text-align: left;
    }

    img {
      margin-top: 1rem;
      margin-bottom: 0rem;
      border-radius: 50%;
    }

  }

  .testimonial-content {
    @include grid-column(12);
    text-align: center;

    @media #{$medium-up} {
      @include grid-column(9);
      text-align: left;
    }

    p.lead {
      margin-top: 2rem;
      color: $body-font-color;
    }
  }

  &.odd {
    .testimonial-author {
      @media #{$medium-up} {
        @include grid-column($columns: 3, $push: 9);
      }
    }

    .testimonial-content {
      @media #{$medium-up} {
        @include grid-column($columns: 9, $pull: 3);
      }
    }
  }
}



