// m-testimonial
.testimonial {
  background-color: white;
  padding: 1rem;
  margin-bottom: 3rem;
  border-radius: $global-radius;
  @include global-hover();

  p.lead {
    margin-top: 2rem;
    color: $body-font-color;
    
  }

  a {
  }

  img {
    margin-top: .5rem;
    border-radius: 50%;
  }

  h4 {
    @media #{$small-only} {
      text-align: center;
    }

    @media #{$medium-up} {
      margin-top: 2rem;
    }
  }
}
