// CONFIG
// applies to browsehappy notification if users are less than specified browser support
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Animations

@keyframes fade-down {
  from { 
    opacity: 0;
    transform: translateY(-150px);
   }
  to   { 
    opacity: 1; 
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from { 
    opacity: 0;
    // transform: translateY(150px);
   }
  to   { 
    opacity: 1; 
    // transform: translateY(0);
  }
}

//Mixins

@mixin uppercase-styling {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 100;
  font-family: $font-family-sans-serif;
}


@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: linear-gradient(90deg, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=90,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin global-transition {
  transition: all .2s ease-in-out;
}

@mixin global-hover {
}

// Typography
.cta {
  @include button($bg: false, $radius: $global-radius);
  padding: .5rem 1.5rem;
  border: 2px solid $accent-color;
  @include uppercase-styling;
  @include global-transition;
  font-weight: 500;
  color: $body-font-color;
  &:hover {
    color: white;
    background-color: $accent-color;
    text-decoration: none; }
  &.secondary {
    border: 2px solid $secondary-color;
  }
  &.white {
    color: white !important;
    &:hover {
      color: white;
    }
  }

}

a:hover {
  text-decoration: underline;
}

ul {
  margin-left: 3rem;
}

p + ul {
  margin-top:
}

h1 {
  font-size: 5.854rem;
}

h4, h5, h6 {
  font-weight: 300;
}

hgroup.section-header {
  text-align: center;
  margin-bottom: 3.6rem;
  h2 {
    margin-bottom: 0rem;
    line-height: 1;
  }
  .subheader {
    margin-top: 0rem;
  }
  h3.subheader {
    font-size: 1.218rem;
    @media #{$medium-up} {
      font-size: 1.618rem;
    }
  }

  h5.subheader {
    font-size: 1rem;
  }
}

.subheader {
  font-weight: 300;
  @include uppercase-styling;

}


img {
  margin-bottom: 1.8rem;
}

code {
  background: none;
  border: none;
  font-size: .9rem;
}

pre[class*="language-"] { 
  margin-bottom: 1.8rem;
}

span.drop-cap { 
  float: left;
  color: $accent-color;
  font-size: 5.9rem;
  line-height: .75;
  padding-right: .75rem;
  // padding-left: 3px;
  // margin-bottom: -1.2rem;
  margin-top: .55rem;
  font-family: $header-font-family; 
} 

blockquote {
  border-left: 1px solid $accent-color;
  font-style: italic;
}

p + ul {
  margin-top:  -.9rem;
}

figcaption {
  line-height: 1.8;
  font-style: italic;
  font-size: .8rem;
  // margin-bottom: 1.8rem;
  text-align: center;
}

.callout {
  padding: 1.5rem 1.8rem;
  background-color: $silver;
  margin-bottom: 1.8rem;
  padding-bottom: .45rem;
  border-radius: $global-radius;
  p:last-child {
    margin-bottom: .9rem;
  }
}