// CONFIG
// applies to browsehappy notification if users are less than specified browser support
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Animations

@keyframes fade-down {
  from { 
    opacity: 0;
    transform: translateY(-150px);
   }
  to   { 
    opacity: 1; 
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from { 
    opacity: 0;
    // transform: translateY(150px);
   }
  to   { 
    opacity: 1; 
    // transform: translateY(0);
  }
}

//Mixins

@mixin uppercase-styling {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 100;
  font-family: $font-family-sans-serif;
}


@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: linear-gradient(90deg, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=90,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin global-transition {
  transition: all .2s ease-in-out;
}

@mixin global-hover {
  transition: all .2s ease-in-out;
  &:hover {
      transform: scale(1.009);
      box-shadow: 2px 2px 7px $jet;
    }
}

// Typography
.cta {
  @include button($bg: false, $radius: $global-radius);
  padding: .5rem 1.5rem;
  border: 2px solid $accent-color;
  @include uppercase-styling;
  @include global-hover;
  font-weight: 500;
  color: $body-font-color;
  &:hover {
    color: $header-font-color;
    text-decoration: none; }
  &.secondary {
    border: 2px solid $secondary-color;
  }
  &.white {
    color: white !important;
    &:hover {
      color: white;
    }
  }

}

p {
  line-height: 1.4;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin-left: 3rem;
}

p + ul {
  margin-top:
}


h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  line-height: 1.3;
}

h3, h4, h5, h6 {
  font-weight: 300;
}

.subheader {
  margin-bottom: 1rem;
  font-weight: 300;
  @include uppercase-styling;
}

h2.subheader {
  font-size: 1.5rem;
}

h3.subheader {
  font-size: 1.2rem;
}

img {
  margin-bottom: 1rem;
}

code {
  background: none;
  border: none;
}

