extends layout

block content
  .row
    .thank-you-content
      p.lead.text-center
        a.button(href="/") &#65513; Back to Home
      h3 Oops!
      h1 The page you're looking for cannot be found.
      p.lead Send me an email to let me know what happened. I would be incredibly grateful!
      h6
        a(href="mailto:john@john-ellison.com?subject=404%20Error") john@john-ellison.coml