extends layout
  
block title
  | Cloudegy — Brand Strategy &amp; UI Design
block content  
  article
    section.m-marquee#cloudegy
      hgroup
        h1  Cloudegy
        h2.subheader Brand Strategy &amp; UI Design
        a.cta.white(href="http://dev3.john-ellison.com/") Visit The Finished Site
    .main-article-container
      .main-article-content 
        h2 Case Study
        img(src="images/cloudegy-iphone-5s.jpg", alt="cloudegy website project on an iphone 5s")

        .callout
          p Cloudegy was a marketing campaign initiated by Uncommon Solutions, a Denver-based Microsoft Managed Partner, to promote their cloud services and solutions.

        h3 The Story
        p 
          span.drop-cap W
          | hen I kickstarted my freelance career I met with several entrepreneurs to discuss the positioning and viability of my business model. Brad Leiby, Uncommon Solutions CEO, was impressed by my customer-centric thought process and asked if I was interested in contracting for a marketing initiative centered around Microsoft cloud solutions.

        h4 The Problem
        p Uncommon had scheduled a series of events regarding Microsoft cloud solutions and had less than a month to promote the event and to register 48 attendees within their target audience. They needed a strategy for the campaign and a team to execute that strategy.

        h4 The Goal
        p The goal for the project was to create a website that would craft the broader vision of Cloudegy as well as promote their upcoming events.

        h3 My Process

        h4.subheader Step 1. Discovery
        p I held a stakeholder workshop with Uncommon Solutions President and CEO, Brad Leiby, to uncover their objectives and target audience for the Cloudegy project. We sketched out goals, concepts and personas. I asked Brad to walk me through 'a day in the life of' our target audience: busy C-level executives at medium-to-large sized companies who were struggling with cloud migration so I could begin to understand our users.

        img(src="images/cloudegy-stakeholder-workshop.jpg", alt="mind map of the stakeholder workshop with uncommon solutions")

        p I suggested that rather than brodcasting a marketing campaign, they could build a community of partners dedicated to heading to the cloud together. Rather than stimulate the already high-level of competition within their market, why not create a non-combative atmosphere where businesses across industries could come together? Technicians, managers, C-level executives and the like would be able to share their stories, learn from each other and make better use of their company's efforts surrounding the cloud.

        p We talked about the premise of using a content marketing strategy but there wasn't budget or time to create a minimum viable audience before the event. I expressed my concern that the marketing lists can perform poorly compared to an organic audience, but a list of 500 professionals within the target audience was all we had to work with.

        h4.subheader Step 2. Content Strategy
        
        p I facilitated a brainstorming session on the whiteboard&mdash;each of us with markers in hand&mdahs;and started looking at the concepts and philosophies behind the brand. I wanted to use the language of Cloudegy's audience to create consistent messaging that represented the vision as a whole.

        img(src="images/cloudegy-content-inventory.jpg", alt="creating a content inventory for the cloudegy project")

        h4.subheader Step 3. Content Inventory
        p Using the process described in Stephen Hay's
          a(href="http://responsivedesignworkflow.com/") Responsive Design Workflow
          | I facilitated a workshop centered around creating a content inventory so we the written word would be the focal-point of the design.

        p Our content inventory:
        ul
          li Welcome page and call to action
          li About content
          li Event name, description and details
          li Our Story
          li Contact
          li Sponsors
          
        h4.subheader Step 4. Copywriting
        p Pleased with the content I had written on my site, Uncommon Solutions gave me the copywriting role for the project. After a few iterations, we had a working content prototype that we could use to test our language and messaging with our target personas. 

        h4.subheader Step 4. Delegation
        p I sat down with one of Uncommon's developers and we quickly hashed out a 
          a(href="https://trello.com/")  Trello
          |  board of tasks. We delegated responsibilities and decided to use 
          a(href="https://slack.com/")  Slack for team communication.

        p Looking at the widespread scope of my responsibilities, I realized that I would have to make decisions about how to invest my time if we were going to get the website up in time to register participants for the events and stay within budget.

        p My tasks covered:
        ul
          li Brand Strategy
          li Content Writing
          li UI Design and development

        p We had less than three weeks to execute.

        h4.subheader Step 5. User Journey Mapping
        p I thought it was important to understand the experience of Cloudegy as a whole. Rather than designing the interface of the website in an isolated context, I wanted to understand how each user was coming to the site and see how their journey continued. I realized that the event registration flow was the most crucial part of the experience, but we had outsourced the event-management to Microsoft so we had no control unless we wanted to build another one from scratch.

        p I sketched a User Journey and Experience Map to help me understand the user's different points of contact.

        img(src="images/cloudegy-user-journey.jpg", alt="user journey mapping")

        p Working from the User Journey and Experience Map, I quickly prototyped major components. The website needed to be mobile-first and so I began from the lowest form-factor and worked toward the highest.

        img(src="images/cloudegy-wireframe-1.jpg", alt="wireframing components on a whiteboard")

        img(src="images/cloudegy-wireframe-2.jpg", alt="wireframing components in my sketchbook")

        img(src="images/cloudegy-wireframe-3.jpg", alt="more wireframing in my sketchbook")

        p Mobile usability and performance were two of the most important elements of the site. The Cloudegy target audience were busy corporate employees and executives who are constantly communicating on a variety of devices across contexts and we needed an experience that fit their context and their needs.

        h4.subheader Step 5. Development
        p After Uncommon approved the component wireframes we started developing the site. We had to scaffold the site in a few days so we needed to prioritize our efforts.

        p Once the main layout was formed around the content of the site, I sketched out an initial color palette to harmonize the layout with tone of the content strategy. We discussed creating a brand that was professional yet inviting and intriguing.

        img(src="images/cloudegy-color-palette.jpg", alt="color palette I designed for cloudegy")

        h4.subheader Step 6. Performance Optimization
        p Once we had a solid layout established I started removing unnecessary components of our CSS framework to make the site load faster. We easily met the performance budget of page-load in under two seconds.
        ul.m-image-grid
          li: img(src="images/cloudegy-pagespeed-mobile.jpg", alt="testing the website pagespeed on mobile")
          li: img(src="images/cloudegy-pagespeed-desktop.jpg", alt="testing the website pagespeed on desktop")

        h3 The Outcome
        p The Cloudegy project began as a marketing campaign. I shaped the vision of a community heading to the cloud together and executed the vision with hand-crafted content and a performant mobile-first interface.

        include views/includes/_screenshot-header

        .portfolio-screenshots
          img(src="images/cloudegy-ipad.jpg", alt="cloudegy website project on an ipad")
          img(src="images/cloudegy-iphone-5s.jpg", alt="cloudegy website project on an iphone 5s")
          img(src="images/cloudegy-iphone-6-plus.jpg", alt="cloudegy website project on an iphone 6 plus")
          img(src="images/cloudegy-samsung-galaxy.jpg", alt="cloudegy website project on samsung galaxy")
          img(src="images/cloudegy-samsung-galaxy-mini.jpg", alt="cloudegy website project on samsung galaxy mini")
          img(src="images/cloudegy-galaxy-tablet.jpg", alt="cloudegy website project on a galaxy tablet")

        h3 Room For Improvement
        p Committed to learning from each experience and continuing to improve, I had a few takeaways from the Cloudegy project that I would have done differently.
        ul
          li I should have trusted my gut's instinct about the reliability of a purchased marketing list to drive conversions.
          li Creating a minimum viable audience through content creation would have been a great alternative to broadcast marketing.
          li I should have stood firm about limiting the breadth of my scope&mdash;my efforts were spread too thinly across disciplines and I needed to spend more time understanding their target audience and their needs.
          li Next time, I will be sure to clarify the value of a mobile-first approach. I assumed that 'everyone' was mobile-first nowadays, but apparrently enterprise Microsoft partners don't see the same value that others do.

