extends layout
  
block title
  | Cloudegy — Brand Strategy &amp; UI Design
block content  
  article
    section.m-marquee#cloudegy
      hgroup
        h1  Cloudegy
        h2.subheader Brand Strategy &amp; UI Design
        a.cta.white(href="http://dev3.john-ellison.com/") Visit The Finished Site
    .main-article-container
      .main-article-content 
        h3 The Story
        p  
          a(href="http://www.uncommonsolutions.com/")  Uncommon Solutions 
          |  is one of five Microsoft Managed Partners in the western United States. Uncommon Solutions asked me if I had time to meet and discuss a project they called &lsquo;Cloudegy&rsquo;. 

        h3 The Problem
        p Uncommon had scheduled a series of events surrounding Mobile Device Management in the cloud. They had unique expertise in implementing and managing Microsoft MDM solutions. They knew which pitfalls to avoid, they understood the technical aspects, and they could articulate the value in cloud migration.

        p Their problem was not in their skills or their expertise, but in the ability to market their events to the right audience.

        h3 My Strategy

        p I suggested that rather than building a campaign to market their events, they build a community of partners dedicated to heading to the cloud together. Rather than stimulate the already competitive enterprise market, why not create a non-combative atmosphere where businesses across industries could come together? Technicians, managers, C-level executives and the like would be able to share their stories, learn from each other and make better use of their company's efforts surrounding the cloud.

        h3 The Goal
        p The goal for the project was to create a website that would craft the broader vision of Cloudegy as well as promote their upcoming events.

        h3 My Process

        h4.subheader Step 1. Discovery
        p I met with the Uncommon team a second time to dive deeper into the cloud market in Denver. I was fascinated by all the nuances of the enterprise landscape. Building strategic partnerships was top on Uncommon's agenda. It seemed like building a community rather than a brand would be the best way to manage overlap between partners.

        h4.subheader Step 2. Ideation
        p We took to the whiteboard and started looking at the concepts and key terminology behind the brand. I wanted to have consistent messaging that represented the vision as a whole in the language of Cloudegy's audience. There was a delicate balance between creating something inspiring and being honest to the community's early beginnings.

        p I sketched out an initial color palette in order to understand the tone of the brand.

        img(src="images/cloudegy-color-palette.jpg", alt="color palette I designed for cloudegy")

        h4.subheader Step 3. Content Writing
        p Given the language played such an integral role in the representation of the vision, I started the design process by writing content. After a few iterations, we had a working body for our landing page and needed to start prototyping. We had only a few weeks until the event and needed to get participants registered as soon as possible.

        h4.subheader Step 4. Delegation
         p I sat down with one of Uncommon's developers and we quickly hashed out a 
          a(href="https://trello.com/")  Trello
          |  board of tasks. We delegated responsibilities and decided to use 
          a(href="https://slack.com/")  Slack for team communication.

        p Looking at the widespread scope of my responsibilities, I realized that I would have to make decisions about how to invest my time if we were going to get the website up in time to register participants for the events.

        p My tasks covered:
        ul
          li Brand Strategy
          li Content Writing
          li UI Design and development

        p We had less than three weeks to execute.

        h4.subheader Step 5. Prototyping
        p I thought it was important to understand the experience of Cloudegy as a whole. Rather than designing the interface of the website in an isolated context, I wanted to understand how each user was coming to the site and see their journey continued.

        p I created a low-fidelity User Journey and Experience Map to help me understand the user's different points of contact.

        img(src="images/cloudegy-user-journey.jpg", alt="")

        p Working from the User Journey and Experience Map, I quickly prototyped major components. I wanted the website to be mobile-first and so I worked from the lowest form-factor to the greatest.

        img(src="images/cloudegy-wireframe-1.jpg", alt="wireframing components on a whiteboard")

        img(src="images/cloudegy-wireframe-2.jpg", alt="wireframing components in my sketchbook")

        img(src="images/cloudegy-wireframe-3.jpg", alt="more wireframing in my sketchbook")

        p It seemed to me that mobile-first and performance were two of the most important elements of the site. The Cloudegy target audience were busy corporate employees and executives who are constantly communicating on a variety of devices across contexts.

        h4.subheader Step 5. Development
        p After Uncommon approved the component wireframes we started developing the site. Our deadline was approaching swiftly so we had to scale quickly.

        h4.subheader Step 6. Performance Optimization
        p Once we had a solid layout established I started removing unnecessary components of our CSS framework to make the site load faster. While we met the performance budget of load-time under two seconds, there were a few other optimizations that would have resulted in better performance. 

        img(src="images/cloudegy-pagespeed-mobile.jpg", alt="testing the website pagespeed on mobile")
        img(src="images/cloudegy-pagespeed-desktop.jpg", alt="testing the website pagespeed on desktop")

        h3 Final Outcome
        p The Cloudegy project began as a marketing campaign. My involvement transformed the campaign into a community. The contributions I made to brand strategy, content writing, UI design and development were widespread and provided a solid foundation for the cloud community to grow.

        p Responsive device testing and screenshots thanks to 
          a(href="http://www.browserstack.com/")  BrowserStack

        img(src="images/cloudegy-iphone-5s.jpg", alt="cloudegy website project on an iphone 5s")
        img(src="images/cloudegy-iphone-6-plus.jpg", alt="cloudegy website project on an iphone 6 plus")
        img(src="images/cloudegy-samsung-galaxy.jpg", alt="cloudegy website project on samsung galaxy")
        img(src="images/cloudegy-samsung-galaxy-mini.jpg", alt="cloudegy website project on samsung galaxy mini")
        img(src="images/cloudegy-ipad.jpg", alt="cloudegy website project on an ipad")
        img(src="images/cloudegy-galaxy-tablet.jpg", alt="cloudegy website project on a galaxy tablet")



