extends layout

block content
  //- Welcome section
  include views/includes/home-welcome

  //- Mobile nav icon-bar
  include views/includes/home-mobile-nav

  //- Journey & Passion Video
  include views/includes/journey-passion

  //- Story
  include views/includes/story

  //- Portfolio
  include views/includes/portfolio

  //- Services
  include views/includes/services

  //- Services Detail Sections
  include views/includes/digital-strategy
  include views/includes/ux-design
  include views/includes/web-development
    
  //- Contact
  include views/includes/contact
