extends layout

block title 
  | John Ellison: a digital product designer passionate about crafting social change.

block content
  include views/includes/welcome

  include views/includes/my-story

  include views/includes/portfolio

  include views/includes/clients
  
  include views/includes/contact
