extends layout

block title 
  | John Ellison | I'm a designer passionate about living a great story.

block content
  include views/includes/welcome

  include views/includes/my-story

  include views/includes/portfolio

  include views/includes/clients
  
  include views/includes/contact
