extends layout

block title 
  | John Ellison | Storyteller &amp; UX Designer

block content
  //- Welcome
  include views/includes/welcome

  //- Portfolio
  include views/includes/portfolio

  //- Clients
  include views/includes/clients
  
  //- Contact
  include views/includes/contact
