extends layout

block title 
  | John Ellison | Storyteller &amp; UX Designer

block content
  include views/includes/welcome

  include views/includes/the-next-chapter

  include views/includes/portfolio

  include views/includes/services

  include views/includes/clients
  
  include views/includes/contact

  script(src='//f.vimeocdn.com/js/froogaloop2.min.js')
