extends layout
  
block title
  | Jackie Stone Music Web Design and Development - John Ellison
block content  
  article
    section.m-marquee#jackie-stone
      hgroup
        h1  Jackie Stone Music
        h2.subheader Web Design &amp; Development
        a.cta.white(href="http://jackiestonemusic.com") Visit the finished site
    .main-article-container
      .main-article-content 
        h3 The Story
        p Jackie Stone grew out of the 
          a(href="/michael-mcdaniel-music.html") Michael McDaniel Music project.
          |  I worked with Michael to define clear goals for the website and his business. We wanted to create an online platform that would allow Michael to grow his fanbase through email subscription. The old music-business profit model of selling albums is over. Profit comes from shows, and shows come from fanbases.

        p Michael originally intended to release his music under his own name. After time in the studio, Michael realized that he needed a creative vehicle to fully harness the music he was producing.
        p Jackie Stone was the creative vehicle Michael envisioned. 

        h3 The Problem
        p Michael had an evolving brand image and needed a web presence that would both represent his music and allow his brand to grow. Michael needed a web platform that would not only portray his art but also allow him to build a business.

        h3 The Goal
        p The goal for the project was to create a website that would establish a foundational web presence for Michael to:
        ul
          li Establish his brand
          li Grow his fanbase
          li Measure engagement and
          li Optimize conversion

        h3 My Process

        h4.subheader Step 1. Migration
        p We had nearly finished the 
          a(href="/michael-mcdaniel-music.html") Michael McDaniel Music project
          |  when we decided to re-brand the project as Jackie Stone.
        p Most of the layout and styling needed to change, so our first step was stripping away all extraneous elements of the old brand and redefining the aesthetic for the new.

        h4.subheader Step 2. Re-brand
        p Michael and I worked together over video conference to craft the Jackie Stone brand. We had long conversations about Michael's vision for his music and what role Jackie Stone would play.

        p From layout, imagery and typography I gave Michael the lead and used my skills to help funnel his ideas into practical implementation.

        p We settled on a album-based skeumorphic for the layout of the site where the above-the-fold would represent the album's front cover, and as the user scrolled it would be akin to flipping the album over and looking at its back. We didn't implement any animations to follow the skeumorphic strictly, but rather let the concept be a guiding constraint for design decisions. 

        h4.subheader Step 3. Development
        p I had already made user personas and journeys from the old site, and the target segments still applied. Once we had basic brand guidlines established we started working on front-end development for the site.  Michael was interested in understanding my process so we decided that we would pair program the majority of the site.

        p It was satisfying to fluently &lsquo;design in the browser&rsquo; with a client as a pair programming partner. I had worked hundreds of hours on my own to gain this level of fluency and to see its fruits in action was incredibly rewarding.

        p I had my device lab setup with BrowserSync such that we could monitor the development from mobile up. Having a variety of form factors, operating systems and orientations allowed us to make informed decisions about our users experience of the site.

        h4.subheader Step 4. Analytics Infrastructure
         p After less than twelve hours of paired programming, we finished the front-end development of the site. I implemented custom Google Analytics event tracking to measure conversion rate and hooked up Mail Chimp to harness email subscription.

        h4.subheader Step 5. Usability Testing
        p I walked Michael through the basics of Usability testing and we tested the core user tasks with 3 to 5 users each. After a few clear usability issues had resolved we launched the site and began to test for performance.

        h4.subheader Step 6. Performance Optimization
        p After reading Scott Jehl's 
          em 
            a(href="http://abookapart.com/products/responsible-responsive-design")  Responsible Responsive Design,
          |  I was committed to improving performance on my front-end development projects.
        p I read up on how to 
          a(href="http://zurb.com/article/1373/hit-the-weights-and-take-the-bloat-out-of")  reduce code bloat on CSS frameworks
          | , and began to check items off my performance checklist.  

        p In less than two hours I had the website loading in under 500ms and scoring above 90 for both mobile and desktop Pagespeed Insights:

        img(src="images/jackie-stone-pingdom.jpg", alt="performance test for responsive website")
        img(src="images/jackie-stone-pagespeed-mobile.jpg", alt="mobile pagespeed insights responsive website")
        img(src="images/jackie-stone-pagespeed-desktop.jpg", alt="pagespeed insights responsive website")

        h3 Final Outcome
        p The conversion rate for email subscriptions skyrocketed to 25% within the first 30 days. Since then, it has settled at a solid 6.9%. This greatly exceeded our project goal of 4% conversion rate.

        p Michael has a performant website that successfully represents the Jackie Stone brand and has allowed him to grow his fanbase.

        p If you're interested in seeing the finished product, you can check out the
          a(href="http://jackiestonemusic.com" title="view the jackie stone music website")  Jackie Stone Music
          |  website live.

        img(src="images/jackie-stone-mobile.jpg", alt="jackie stone website on samsung galaxy")
        img(src="images/jackie-stone-mbp.jpg", alt="jackie stone website on a mac book pro")
        img(src="images/jackie-stone-imac.jpg", alt="jackie stone website on an iMac")
  