doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='John Ellison is a Storyteller and a UX Designer who loves to code. He shares his story and his work on a hand-crafted website.')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
    title 
        block title 
        |  | John Ellison
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../bower_components/foundation-icon-fonts/foundation-icons.css')
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    script(src='//use.typekit.net/bzq0alk.js')
    script.
        try{Typekit.load();}catch(e){}
    meta(property='og:url', content='index')
    meta(property='og:title', content='John Ellison | Storyteller & UX Designer')
    meta(property='og:type', content='website')
    meta(property='fb:profile_id', content='https://www.facebook.com/je4light')
    meta(property='og:image', content='assets/img/john-ellison-wedding-headshot-1201x630.jpg')
    meta(property='og:image:type', content='image/jpg')
    meta(property='og:image:width', content='1201')
    meta(property='og:image:height', content='630')
    meta(property='fb:admins', content='100002872817691')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@iamjohnellison')
    meta(name='twitter:creator', content='@iamjohnellison')
    meta(name='twitter:title', content='John Ellison | Storyteller & UX Designer')
    meta(name='twitter:description', content='UX Designer John Ellison shares his story of finding himself and the purpose and his work.')
    meta(name='twitter:image:src', content='assets/img/john-ellison-ux-designer-code-560x300.jpg')
  body
    //if lt IE 10
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    
    block content 
    
    include includes/footer  
    include includes/scripts

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/modernizr/modernizr.js')
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/fastclick/lib/fastclick.js')
    //- script(src='../bower_components/jquery.cookie/jquery.cookie.js')
    script(src='../bower_components/jquery-placeholder/jquery.placeholder.js')
    script(src='../bower_components/foundation/js/foundation.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
