extends layout
  
block title
  | Michael McDaniel Web Design Project - John Ellison
block content  
  article
    section.m-marquee#michael-mcdaniel
      hgroup
        h1  Michael McDaniel Music
        h2.subheader Web Design &amp; Development
        a.cta.white(href="dev4.john-ellison.com") Visit the finished site
    .row
      .main-article-content 
        h3 The Story
        p I first heard Michael's music in New Orleans. My best friend and I were driving down St. Charles beside the rattle of the classic New Orleans street car. My friend was playing Michael's song &lduqo;Spiderweb&rdquo; as we drove.
        p Like most people who hear Michael's music, I reached for the volume and asked my friend &ldquo;Who 
          em is
          |  this?&rdquo;
        p &ldquo;This is my cousin Michael. Have I not showed you his music before?&rdquo; my friend answered, &ldquo;just give him a couple years, I bet you he's gonna make it.&rdquo;

        p A few days later, I met Michael. Our friendship bridged over our shared passion of music. I was fascinated by Michael's ability to express deep and complex emotion through his music. I felt a calling to help Michael share his music with the world.

        p Years later, Michael approached me to talk about making a website for his first album. It was a recording project he'd initiated with several different studios, but it seemed like he finally found &lsquo;the one&rsquo;.

        h3 The Problem
        p Michael had a lot of ideas about how he wanted to portray his brand and what kind of experience he wanted his fans to have on his website, but he had trouble articulating exactly what he wanted. He also had little experience working on the web and had never managed a project before.

        img(src="images/michael-mcdaniel-problem-sketch.jpg", alt="a sketch of the problem michael was facing for this project")


        p Michael had a deep and personal relationship to his music. Anything that he was going to put his name on needed to be perfect.

        p I told Michael &ldquo;When it comes to design and development on the web, nothing is perfect, and nothing is ever truly finished&rdquo;, but that I would love to help him use the web to share his music with the world. 


        h3 The Goal
        p Michael wanted a website that effectively portrayed his brand as a musician and encouraged people to download his music. It was also important that users could stream high-fidelity music on any device. He wanted users to be able to share the music easily and that they should be able to share the entire website or just a single song. 

        p Also, Michael felt that his lyrics were a crucial element of his music and that users should be able to toggle lyrics for each song while they were listening to them.

        h3 My Process

        h4.subheader Step 1. Discovery
        p Michael flew to Denver for a weekend and we got out the whiteboard (my favorite ideation tool). I facilitated a conversation with Michael about the true purpose of his website, what it needed to achieve and the story it needed to tell. We then walked through the different ways we might tell the story of Michael's album and splashed as many ideas as we could onto the whiteboard.

        img(src="images/michael-mcdaniel-whiteboard-1.jpg", alt="sketching ideas on a whiteboard for michael's site")
        img(src="images/michael-mcdaniel-whiteboard-2.jpg", alt="brainstorming 'what is the story?'")
        img(src="images/michael-mcdaniel-whiteboard-3.jpg", alt="sketching ideas on how to tell the story of michael's music")

        p Later that day, we got out pens and sheets of paper. We talked about different business models within the music industry, and how Michael could position himself in the market. We looked at the radial segments of his audience&mdash;from his closest family and friends, to committed fans of his music, to the types of people he wanted to attract.

        p We sketched out basic personas and empathy maps to better understand the needs and expectations of our users. We quickly decided that mobile-first responsive development was a priority. Much of Michael's fan-base was mobile and we needed to provide a quality experience for those users on the go as well as those users at home or at work.

        p We decided on an iterative development approach where we would launch variations of the website and track key performance indicators that would allow us to improve the experience of the website for the growth of Michael's music business.

        img(src="images/michael-mcdaniel-timeline.jpg", alt="sketch of our iterative project timeline")

        h4.subheader Step 2. Design
        p From the intial personas and empathy maps, I started sketching wireframes. Starting with quick sloppy drawings of layout and components, we worked together to boil down the interface into a higher-fidelity prototype.

        p Given the requirements for songs to be shared individually, I sketched a few different approaches for a song-sharing module. Having read through SMACSS a few times, I wanted to implement some of the principles I learned in the markup and stylesheet architecture.

        .row
          .small-12.columns.large-6.columns
            img(src="images/michael-mcdaniel-wireframe-1.jpg", alt="wireframe of a section for michael mcdaniel music website")
          .small-12.columns.large-6.columns
            img(src="images/michael-mcdaniel-wireframe-2.jpg", alt="")

        p I often move directly from wireframes to designing in the browser. Using 
          a(href="https://github.com/johnellison/gulp-webapp-foundation-jade")  my front-end framework 
          |  with 
          a(href="http://gulpjs.com/")  Gulp
          |  and
          a(href="http://www.browsersync.io/")  BrowserSync,
          |  I can make edits quickly and see the changes reflected on all the devices on my workstation.


        h4.subheader Step 3. Development
        p Using a front-end framework (
          a(href="http://foundation.zurb.com" title="zurb foundation 5 website") Zurb Foundation 5
          | ), I layed out Michael's website and set up a staging site for Michael's review and for user testing.

        p We moved quickly into developing the responsive song modules. Each song needed to have the following functionality:
        ul
          li Play, pause and scrub
          li Share 
          li View/hide lyrics

        img(src="images/michael-mcdaniel-song-module-1.jpg", alt="first image of the song module I developedfirst image of the song module I designed")
        img(src="images/michael-mcdaniel-song-module-2.jpg", alt="first image of the song module I designed")
        img(src="images/michael-mcdaniel-song-module-3.jpg", alt="first image of the song module I designed")

        h4.subheader Step 4. Testing
        p When we had the basic functionality and structure built into the site, we shared the staging site with 5-8 users from our target segments.

        img(src="images/michael-mcdaniel-screenshot-1.jpg", alt="")
        img(src="images/michael-mcdaniel-screenshot-2.jpg", alt="")

        h3 Outcome of Testing
        p After receiving feedback from users about the brand and identity of the site, Michael realized that he wanted to change directions drastically. He didn't want to portrayed as a solo-singer songwriter who strummed an acoustic guitar. Michael wanted something epic, something more meaningful.

        p Michael began to envision a completely different brand and image for his music. He saw a character living in his music. It would be the creative vehicle for Michael to share his music with the world without all the strings attached to his personal life. Michael quickly arrived on the name Jackie Stone.

        h3 Iteration II - Jackie Stone Re-brand

        p As Michael wrapped up the first stage of recording for his album, Jackie Stone continued to evolve. We decided to start the website from scratch under the new brand identity. Michael and I worked side-by-side to design and develop the site together. 

        p My experience with designing in the browser allowed Michael to have fine-grained control over every element of his website. While we weren't utilizing user testing in this stage of development, we were crafting an experience that achieved Michael's main goal for the website:

        p He needed a website that represented his music in a way that resonated deeply with him and allowed him to build his web presence with confidence. It was only after talking to users that he realized the Michael McDaniel branded approach didn't serve his long-term goals.

        h3 Final Outcome

        p The re-brand project was a huge success. We saw a 25% conversion rate for song downloads within the first 30-days of launch, and we are continuing to test and improve the site. Check out the 
          a(href="http://jackiestonemusic.com" title="view the jackie stone music website")  Jackie Stone Music website.
  