extends portfolio-layout
  
block title
  | Michael McDaniel Music Web Design Project
block content
  hgroup.text-center
    h1  Michael McDaniel Music
    h2.subheader Web Design Project
  h3 The Story
  h3 The Problem
  h3 The Goal
  h3 My Process
  h4.subheader Step 1.
  h4.subheader Step 2.
  h4.subheader Step 3.
  h4.subheader Step 4.
  h3 The Outcome
  