extends layout

block title
  | Prosper Case Study - John Ellison Portfolio

block content
  article
    section.m-marquee#prosper
      hgroup
        h1 Prosper Community
        h2.subheader Startup Founder
        h4.subheader
    .main-article-container
      .main-article-content
        h2 Case Study

        .callout
          p As a response to the crisis in Europe, I founded a community of digital workers around the belief that
            em "When refugees prosper, we all prosper"
            | . In four months the team grew from one person to ninety, and we successfuly launched an open source product to help relief organizations make sense of who was doing what where amidst the crisis.

        h3 Context
        p Toward the end of my 
          a(href="https://90days.john-ellison.com") time at Clearleft
          | , I was faced with a difficult decision:

        ul
          li Join a world-class design agency and make steps towards mastering the craft of user experience design or
          li Explore the possibility of using design and technology to help refugees prosper in Europe

        p After much consideration, I decided to pursue the latter. I was blessed with a cushion of savings to provide some support throughout the coming months, and the more I witnessed the suffering of refugees, the more I knew that I had to do something&mdash;anything I could possibly do to help.

        p The team at Clearleft was incredibly supportive of my decision&mdash;offering me space to work and hold events. They also provided a backdrop of advice whenever I needed it. As a result I felt prepared to explore what it was like to work amidst a humanitarian crisis for the first time.

        h4 The Problem
        p With thousands of organizations struggling to provide immediate and long-term aid to refuge seekers, the crisis posed a myriad of problems to all actors:

        ul
          li Refuge seekers
          li Governments
          li NGO's
          li Local communities
          li Volunteers
          li etc...

        p Looking at the big picture I wondered:

        blockquote &ldquo;Amidst all this chaos and confusion, what could I possibly do to help?&rdquo;

        h4 Constraints
        p I looked at the resources available to me and realized I was faced with several obvious constraints:

        ul
          li Money
          li Experience
          li Network
          li Personality
          li Knowledge

        p Driven by raw emotion and a desire to make a significant difference, I explored a wide range of possible directions to pursue. Through workshops with the team at Clearleft and through discussions with many others&mdash;I tried to discern the best way forward.

        p In those workshops and discussions, several ideas surfaced. What if I decided to:
        ul
          li Move to Lesvos to help on the ground (a Greek island that became the principal destination for refugees travelling the Balkan route to Europe in 2015),
          li provide housing for refugees in my home,
          li host hackathons,
          li build a product,
          li partner with existing organizations,
          li or start an organization of my own?

        p Rather than settle for passing out water bottles (as anyone could do), I decided to try and influence the crisis using the skills and expertise that I'd acquired through my journey&mdash;specifically, user experience design and web development. The combination of these two disciplines could provide scalable solutions with impact that could never be achieved through working on the ground.

        h4 Users and Audience
        p Within the scope of work I'd grown to envision, I identified two main audiences for my contributions amidst the refugee crisis:

        ul
          li The people I wanted to help (refuge seekers and providers)
          li The people who would help me

        p Early on in the process I realized that I couldn't possibly do this alone... I needed the support of a community of skilled professionals with a wide range of experience to help navigate through this unchartered territory.

        p In applying design thinking to identify the main audience and my value proposition, I ended up defining the main audience as
          em "experienced digital workers who want to use their skills to help refugees".

        h4 The Team
        p Over the course of a few months, a community of over 150 digital workers gathered around the mission I'd articulated about helping refugees prosper in Europe. While I can't list all the team members here, I thought I would try and include some of the core members who helped make Prosper happen.

        ul.people-list--small
          li
            img(src="images/natasha-freidus@2x.jpg" width="32" height="32" alt="Natasha Freidus headshot")
            a(href="http://www.creativenarrations.net/") Natasha Freidus
            p Project Management
          li
            img(src="images/judah-armani@2x.jpg" width="32" height="32" at="Judah Armani headshot")
            a(href="http://www.public-hq.com/") Judah Armani
            p Strategy
          li
            img(src="images/jools-stone@2x.jpg" width="32" height="32" alt="Jools Stone headshot")
            a(href="http://www.joolsstone.com/") Jools Stone
            p Marketing
          li
            img(src="images/bob-breznak@2x.jpg" width="32" height="32" alt="Bob Breznak headshot")
            a(href="https://twitter.com/bobbrez") Bob Breznak
            p Development
          li
            img(src="images/gerru-kloppers@2x.jpg" width="32" height="32" alt="Gerru Kloppers headshot")
            a(href="https://www.linkedin.com/pub/david-fritz/5/650/631") Gerru Kloppers
            p Data
          li
            img(src="images/dean-hayden@2x.jpg" width="32" height="32" alt="Dean Hayden headshot")
            a(href="http://deanhayden.co.uk/") Dean Hayden
            p Branding
          li
            img(src="images/james-foster@2x.jpg" width="32" height="32" alt="James Foster headshot")
            a(href="https://www.linkedin.com/in/james-foster-a8056474") James Foster
            p Development
          li
            img(src="images/amanda-levinson@2x.jpg" width="32" height="32" alt="Amanda Levinson headshot")
            a(href="http://www.thirdspaceconsulting.net/") Amanda Levinson
            p Strategy
          li
            img(src="images/nick-hoh@2x.jpg" width="32" height="32" alt="Nick Hoh headshot")
            a(href="https://www.linkedin.com/in/nickhoh") Nick Hoh
            p UX Design
          li
            img(src="images/yury-voloshin@2x.jpg" width="32" height="32" alt="persons name")
            a(href="https://www.linkedin.com/in/yvoloshin") Yury Voloshin
            p Development

        h3 Backstory
        p In the first few weeks of working at Clearleft, my wife and I witnessed the suffering of refugees on the news and in social media. As a response, my wife and I reached out to
          a(href="http://www.refugees-welcome.net/") Refugees Welcome
          |  to see if we could host someone in the spare bedroom of our home. In the following weeks that ensued, we witnessed the massive obstacles that Refugees Welcome was facing at providing such a crucial service at scale.

        p They were manually matching refugees with shared flats&mdash;a process that could be supported and expedited by a well-designed web application. As a result of the manual process and the sheer volume of people they were trying to serve, the organization was completely overwhelmed. As an outsider with technical experience it seemed like there was an opportunity to help...

        h4.subheader The Inciting Incident
        p A few weeks after reaching out to Refugees Welcome, I attended a workshop led by 
          a(href="https://twitter.com/bensauer") Ben Sauer
          |  for the 
          a(href="http://clearleftinterns.tumblr.com/") Clearleft interns
          |  who were working on a product design project. The purpose of the workshop was to demonstrate the types of activities which could generate genuine product concepts for the interns. I won't go into any detail about the mechanics of the workshop here, but if you're interested, I wrote a blog post about it on 
          a(href="https://90days.john-ellison.com/2015/day-43-popular-thing-for-broken-thing-workshop") Day 43
          |   of my 90 days at Clearleft.

        p As a participant of the workshop, I stumbled into a place of deep inspiration. I was looking at two sticky notes that I'd written feeling like there was a huge potential rising within me:

        img(src="images/slack-and-migration.jpg", alt="slack and refugee crisis sticky notes")

        p I described the concept that I conceived as follows:

        blockquote
          p &ldquo;My startup is called 'Refuge'. It is a 
            a(href="https://slack.com/") Slack
            |  community for the refugee crisis. Right now, there are millions of refugees from all over the world trying to find a place to live. There are citizens who are trying to welcome refugees into their spare bedrooms and there are governments and charities who are trying to solve this problem on a local and national scale.

          p Currently there is no way for all of these people to communicate.

          p I want to use Slack as a free central communication platform for the refugee crisis. I am going to create a simple landing page that describes the idea and calls people to action by submitting their names and email addresses.

          p I will create a Slack community with various topics and regions so that:
          ul
            li Refugees can share their stories and reconnect with family members
            li Citizens can open their rooms and homes to refugees and refugee families
            li Governments and charities can communicate with the international refugee crisis and use all of the information in the Slack community to make well-informed decisions

        p The feedback I received from participants was really encouraging. I remember 
          a(href="http://clearleft.com/is/anna-carlson") Anna Carlson
          |  and 
          a(href="http://clearleft.com/is/james-box") James Box
          |  both saying "You should totally do this," to which I replied "I am going to..." When I said it at first, I don't think any of us realized what it implied. But with every breath I felt the urge deepen within me. As I walked out of the room I heard a voice resounding in my head,
          em "I have to do this..."

        h3 Process
        p The weekend after the workshop I began working to test whether the concept I envisioned could work. Through a tight cycle of feedback and iteration I evolved the concept into what is now known as 
          a(href="http://prosper.community") Prosper
          | . The process below doesn't necessarily reflect the exact series of events, but gives a general sense of how I worked throughout the project to explore how I could contribute to the refugee crisis given the resources I had available.

        h4.subheader Finding Direction With an MVP
        p With a vision for the concept lingering from the workshop, I set out to test whether or not there was a demand for the product I conceived. As a designer fluent in HTML and CSS, I threw up a landing page over the weekend:

        img(src="images/refugee-community-landing-page.jpg", alt="the first landing page I launched for the concept which evolved into Prosper")

        p Several days later I scheduled a 'Brown Bag' (the term Clearleft uses for casual presentations over lunch) and invited everyone at Clearleft. Over the course of the Brown Bag, I was honored to receive criticism and feedback from some of the best designers and developers in the industry.

        p I also sent the link around to a few people who I knew were active within the refugee crisis and asked for their opinion:
        ul
          li
            em "Does this feel like it would provide value to you?"
          li
            em "Does this propose to solve one of your biggest problems?"

        h4.subheader Testing & Iterating The MVP

        p As a result of the feedback I received on the initial MVP, I pivoted to this:

        img(src="images/solve-the-refugee-crisis-landing-page.jpg", alt="the second iteration for the concept which evolved into Prosper")

        p Shortly after I published the new iteration, I sent a link to 
          a(href="http://www.jonaskakoschke.de/") Jonas Kakoschke
          | , the founder of Refugees Welcome, and requested an interview to test the direction and viability of my concept.

        p Jonas quickly responded to my request (which provided an initial form of validation) and we scheduled an interview for a few days later.

        img(src="images/interview-with-jonas.jpg", alt="speaking with jonas kakoschke founder of refugees welcome on skype")

        p The interview with Jonas provided me with a few insights that I  leveraged moving forward. At first he was disappointed that the website I sent him was just a concept and not a reality, but he graciously continued the conversation and spoke earnestly nonetheless.

        p During our discussion Jonas said two things which stood out to me,

        blockquote &ldquo;We don't have the luxury to step back and create proactive solutions. We only have time to respond.&rdquo;

        blockquote &ldquo;We need money of course, but above everything we need manpower. We need skilled people who can solve problems and make things work at scale.&rdquo;

        p After speaking to Jonas I pivoted the value proposition of the concept to:

        em We're a community of digital workers collaborating to solve the refugee crisis.

        p With a new focused target audience (digital workers), I sent out the link to a few of the design and development communities that I've come to be apart of over the years.

        p The response was incredibly humbling:

        blockquote "I've been searching for an opportunity to apply my skills towards something meaningful and as soon as I saw your link I realized 'This is it!'."

        p After sending just a few links with the new iteration, I quickly had a list of people who were interested enough in the concept to give their names, email addresses and a bit of information about their skills and experience. It seemed like I was getting some traction with the new target audience and value proposition.

        img(src="images/team-spreadsheet.jpg", alt="team spreadsheet on google docs")

        p Having gathered some data of a small group of people interested in the concept, I decided to interview each and every user that signed up to the site to understand their goals, behaviors and attitudes surrounding the concept I proposed.

        h4.subheader Designing The Concept

        p With a new target audience and value proposition in place, I spent some time sketching through different ideas of how the concept could work:

        ul.m-image-grid
          li
            a(href="images/prosper-concept-sketch-1.jpg")
              img(src="images/prosper-concept-sketch-1.jpg", alt="sketching out the different ways prosper could work")
          li
            a(href="images/prosper-concept-sketch-2.jpg")
              img(src="images/prosper-concept-sketch-2.jpg", alt="sketching out the different ways prosper could work")
          li
            a(href="images/prosper-concept-sketch-3.jpg")
              img(src="images/prosper-concept-sketch-3.jpg", alt="sketching out the different ways prosper could work")
          li
            a(href="images/prosper-concept-sketch-5.jpg")
              img(src="images/prosper-concept-sketch-5.jpg", alt="sketching out the different ways prosper could work")

        h4.subheader Interviewing Users

        p With an influx of new users signing up to the site, I needed to figure out a better way to schedule interviews. After some searching around I found a tool called 
          a(href="https://youcanbook.me/") Youcanbook.me
          |  which seemed to fit the bill.

        img(src="images/youcanbookme.jpg", alt="my youcanbookme online calendar")

        p Over the summer, I'd read Steve Portigal's 
          a(href="https://www.goodreads.com/book/show/17869520-interviewing-users"): em Interviewing Users: How to Uncover Compelling Insights
          |  which provided me with a solid foundation on how to perform these interviews. As Steve suggests in the book, I maintained a casual tone and loose structure throughout the conversation whilst keeping an eye on the questions I was trying to answer:
        ul
          li: em "What's your story?"
          li: em "Why do you want to join the team?"
          li: em "What time, skills and experience do you have to offer?"
          li: em "What insight do you have to the problems that we might face amidst this crisis?"
          li: em "How do you want to collaborate? What role do you want to play?"

        img(src="images/interviewing-users-on-skype.jpg", alt="one of the first user interviews I performed for the project")

        p I recorded each of the interviews and took notes&mdash;all for the sake of building a database of user interviews that could be mined for insights to create a deeper understanding of the people that were attracted to this concept.

        p As I gained more clarity about the audience we'd begun to attract, I started sketching out different segments and proto-personas to reflect upon their goals, attitudes and behaviors.

        ul.m-image-grid
          li
            a(href="images/prosper-segments-sketch.jpg")
              img(src="images/prosper-segments-sketch.jpg", alt="sketching out the different segments I was discovering through my research")
          li
            a(href="images/prosper-persona-1.jpg")
              img(src="images/prosper-persona-1.jpg", alt="one of the first personas I identified")
          li
            a(href="images/prosper-persona-2.jpg")
              img(src="images/prosper-persona-2.jpg", alt="another persona that I sketched")
          li
            a(href="images/prosper-persona-3.jpg")
              img(src="images/prosper-persona-3.jpg", alt="a third proto persona sketch")

        h4.subheader Designing Onboarding

        p After each interview I had to make a decision about whether or not the person would be a good fit for the community that I envisioned. I wasn't exactly sure what problems we would be solving, but I knew the basics:

        ul
          li We would be a distributed team of volunteers
          li We would work on some web-based project
          li We would keep our code open source
          li We would employ a human-centered design process to the best of our ability

        p With this understanding about a growing team and what we were headed towards, I spent some time sketching out the process for assessing and onboarding new team members:

        ul.m-image-grid
          li
            a(href="images/sketching-the-onboarding-process.jpg")
              img(src="images/sketching-the-onboarding-process.jpg", alt="my sketch of the possible onboarding process")
          li
            a(href="images/assessment-process.jpg")
              img(src="images/assessment-process.jpg", alt="a sketch of the process for assessing new team members")
          li
            a(href="images/onboarding-process.jpg")
              img(src="images/onboarding-process.jpg", alt="a sketch of the process for onboarding new team members")
          li
            a(href="images/sketching-the-onboarding-process-2.jpg")
              img(src="images/sketching-the-onboarding-process-2.jpg", alt="an interface concept for the onboarding process")

        p I setup a Trello board to help manage the assessment and onboarding and structured it according to the process I designed. Having learned about products like
          a(href="https://ifttt.com/") IFTT
          |  and
          a(href="https://zapier.com/") Zapier
          |  in my Ruby on Rails bootcamp, I decided to try and connect my Google Sheet form response to my Trello board such that whenever someone submitted their details on the site, it would appear as a Trello card in the correct place on the board with all the relevant information.

        ul.m-image-grid
          li
            a(href="images/google-sheet-form-response.jpg" target="_blank")
              img(src="images/google-sheet-form-response.jpg", alt="The Google Sheets form response from our site")
          li
            a(href="images/google-sheets-trello-zap.jpg" target="_blank")
              img(src="images/google-sheets-trello-zap.jpg", alt="A zapier zap showing how I connected Google Sheets to Trello")
          li
            a(href="images/trello-board-new-team-members.jpg" target="_blank")
              img(src="images/trello-board-new-team-members.jpg", alt="A Trello card created on our New Team Member taskforce board")

        p I invested this much time into the background processes because I knew that we were receiving an increasing volume of form submissions from people who wanted to join and that at some point I would need volunteers to help with the process. Having a clearly defined protocol with a simple and usable system was crucial in maintaining our ability to grow our team.

        h4.subheader Defining & Documenting Culture

        p With a growing team, I knew we needed to define a clear purpose, vision and values in order to keep us all headed in the same direction. After participating in one of 
          a(href="https://tomnixon.co.uk/about/") Tom Nixon
          | 's workshops at Meaning Conference, I decided to reach out to Tom and see if he could help me create a clear definition of the purpose of the organization I'd started.

        p Over a series of workshops with Tom, I'd created a 
          a(href="") Very Clear Idea
          |  to express my vision for the project and we had a working organizational initiative map to make sense of everything that had already begun to form within our community.

        img(src="images/prosper-initiative-map.jpg", alt="mapping the initiatives within the organization with Tom Nixon")

        p In order to articulate and share what arose out of the workshops with Tom, I waned to create a living document that the entire community could read and contribute to. Inspired by 
          a(href="http://playbook.thoughtbot.com") Thoughtbot's Playbook
          | , I decided to invest some time into creating a 
          a(href="http://prosper.community/playbook.html") Playbook
          |   of our own.
          
        blockquote &ldquo;This playbook details how we do what we do and why. From volunteer recruiting to new member onboarding, and from making decisions to resolving conflict&mdash;this Playbook expresses our core values and declares our critical assumptions. It is a central hub for Prosper as individuals, the organization as a whole and the community we aim to serve.&rdquo;        

        h4.subheader Designing a Brand Identity

        p We quickly outgrew the brand concept that was initially shared with Jonas from Refugees Welcome and gathered the attention from the first batch of team members. As a result, we needed to find a brand identity that resonated deeper, had more character and represented the change we were inspired to create amidst the crisis.

        p Through immersing myself in the refugee crisis by attending events, interviewing refugees, meeting with organizations and travelling to different cities, I developed a sense of the type of brand identity that I wanted to see evolve. Over several weeks I sketched out different ideas for the brand and tried to discern the best creative direction.

        ul.m-image-grid
          li
            a(href="images/solvr-brand-sketch-1.jpg")
              img(src="images/solvr-brand-sketch-1.jpg", alt="sketching around a potential brand idea")
          li
            a(href="images/solvr-brand-sketch-2.jpg")
              img(src="images/solvr-brand-sketch-2.jpg", alt="sketching around a potential brand idea")

        p During the Techfugees conference, a refugee ended his presentation with a slide that said,
          em "When refugees prosper, we all prosper."

        p I immediately wrote down the word "Prosper" and sent out a message to the community on our Slack channel to get people's thoughts on the word as a potential brand name. After discussing with the rest of the team, we decided to rebrand as Prosper and I reached out to
          a(href="deanhayden.co.uk") Dean Hayden
          | , for help in designing a visual brand identity.

        p I scheduled a branding workshop and invited all the team members who were living in Brighton to join. We started off by describing some of the attributes of our brand&mdash;separating into what we were and were not.

        img(src="images/prosper-branding-attributes.jpg", alt="whiteboard of the prosper brand attributes during our workshop")

        p We then spent some time articulating our purpose and generated visual concepts around the purpose we'd begun to describe:

        ul.m-image-grid
          li
            a(href="images/prosper-branding-sketch-1.jpg")
              img(src="images/prosper-branding-sketch-1.jpg", alt="one of the sketches during our branding workshop")
          li
            a(href="images/prosper-branding-sketch-3.jpg")
              img(src="images/prosper-branding-sketch-3.jpg", alt="one of the sketches during our branding workshop")
          li
            a(href="images/prosper-branding-sketch-4.jpg")
              img(src="images/prosper-branding-sketch-4.jpg", alt="one of the sketches during our branding workshop")
          li
            a(href="images/prosper-branding-sketch-5.jpg")
              img(src="images/prosper-branding-sketch-5.jpg", alt="one of the sketches during our branding workshop")
          li
            a(href="images/prosper-branding-sketch-6.jpg")
              img(src="images/prosper-branding-sketch-6.jpg", alt="one of the sketches during our branding workshop")

        p I worked with Dean over the coming days to evolve the concepts that arose from that workshop, and we ended up with a really solid visual identity and corresponding guidelines to shape our communication moving forward:

        img(src="images/prosper-brand-guidelines.jpg", alt="dean hayden's final output for the branding process")

        h4.subheader Telling Our Story & Inviting Others

        p At the end of our branding process, we had a strong visual identity, a good name, a clearly defined purpose, and a map for the road ahead. We created a range of social media sites based upon our target audiences and threw up a blog. We started inviting volunteers from our community to contribute to our social media accounts and to writing blog posts.

        img(src="images/prosper-blog-screenshot.jpg", alt="a screenshot of the landing page for our blog")

        p People began to share deep personal stories about their experiences within the refugee crisis and within several months we'd grown a network of well over 1,000 people&mdash;all managed without our CRM (
          a(href="http://nationbuilder.com/") NationBuilder
          | ).

        p I worked with several volunteers to create and refine a communications plan and blog guidelines. We used the Playbook to document our decisions and continued to iterate based upon feedback.

        p It was so exciting to see talented designers, developers, data scientists and other digital workers joining our team from all over the world.

        h3 The Outcome

        p With very little resources and a short amount of time, I was able to create an organic community of digital workers who made a significant contribution to the refugee crisis through design and technology. In four months, we researched, designed, developed and deployed an open source application (
          a(href="http://refugeeprojects.com") RefugeeProjects.com
          | ) that has been used by a wide range of actors including refugees, volunteers, 
          a(href="http://www.bbc.co.uk/mediaaction/") BBC Media Action
          |  and 
          a(href="http://techfugees.com") Techfugees.

        p To learn more about our process for building the RefugeeProjects.com initiative, please check out 
          a(href="http://blog.prosper.community/our-journey-to-build-refugee-projects-com/") Our Journey To Build RefugeeProjects.com: A Guide for Digital Humanitarians
          | .

        h3 Retrospective
        p Writing this case study has been a wonderful experience for me to reflect upon the journey of Prosper as a whole and to re-experience the transition from a humble origin to a living community of talented professionals all over the world.

        p I learned dozens of life-changing lessons while working on Prosper and am so grateful that I had the opportunity to make a contribution to the refugee crisis at such an early stage in my career.

      include views/includes/contact
