extends layout

block title
  | Prosper Case Study - John Ellison Portfolio

block content
  article
    section.m-marquee#prosper  
      hgroup
        h1 Prosper
        h2.subheader Digital Humanitarian Work
        h4.subheader
        a.cta.white(href="http://prosper.community") See The Site
    .main-article-container
      .main-article-content
        h2 Case Study
        //- img(src="images/prosper.jpg" alt="a live screenshot of thengine's homepage on a macbook pro" title="Thengine MVP UX Device Mockup 1")

        .callout
          p As a response to the crisis in Europe, I founded a community of digital workers around the belief that 
            em "When refugees prosper, we all prosper"
            | . In four months the team grew from one person to ninety, and we successfuly launched an open source platform to help refugees, volunteers and donors find projects that meet their needs: 
            a(href="http://refugeeprojects.com") RefugeeProjects.com
    
        h3 Context
        p Toward the end of my 
          a(href="https://90days.john-ellison.com") 90 day work experience at Clearleft
          |  , I was faced with a difficult decision:
        
        ul
          li Join a world-class design agency and make steps towards mastering the craft of user experience design or
          li Explore the possibility of using design and technology to help refugees prosper in Europe
          
        p After much consideration, I decided to pursue the latter. I was blessed with a cushion of savings to provide some support throughout the coming months, and the more I witnessed the suffering of refugees, the more I knew that I had to do something&mdash;anything I possibly could do to help.
        
        p The team at Clearleft was incredibly supportive of my decision&mdash;offering me space to work and hold events. They also provided a backdrop of advice whenever I needed it. As a result I felt prepared to explore what it was like to work amidst a humanitarian crisis for the first time.

        h4 The Problem
        p With thousands of organizations struggling to provide immediate and long-term aid to refuge seekers, the crisis posed a myriad of problems to all actors:
        
        ul 
          li Refuge seekers
          li Governments
          li NGO's
          li Local communities
          li Volunteers
          li etc...
          
        p Looking at the big picture I wondered:
        
        blockquote &ldquo;Amidst all this chaos and confusion, what could I possibly do to help?&rdquo; 
        
        h4 Constraints
        p I looked at the resources available to me and realized I was faced with several obvious constraints:
        
        ul
          li Money
          li Experience
          li Network
          li Personality
          li Knowledge
        
        p Driven by raw emotion and a desire to make a significant difference, I explored a wide range of possible directions to pursue. Through workshops with the team at Clearleft and through discussions with many others&mdash;I tried to discern the best way forward.
        
        p In those workshops and discussions, several ideas surfaced. What if I decided to:
        ul
          li Move to Lesvos to help on the ground (a Greek island that became the principal destination for refugees travelling the Balkan route to Europe in 2015),
          li provide housing for refugees in my home,
          li host hackathons,
          li build a product,
          li partner with existing organizations, 
          li and start an organization of my own.
          
        p Rather than settle for passing out water bottles (as anyone could do), I decided to try and influence the crisis using the skills and expertise that I'd acquired through my journey&mdash;specifically, user experience design and web development. The combination of these two disciplines could provide scalable solutions with impact that could never be achieved through working on the ground.
      
        h4 Users and Audience
        p Within the scope of work I'd grown to envision, I identified two main audiences for my contributions amidst the refugee crisis:
        
        ul 
          li The people I wanted to help (refuge seekers and providers)
          li The people who would help me
        
        p Early on in the process I realized that I couldn't possibly do this alone... I needed the support of a community of skilled professionals with a wide range of experience to help navigate through this unchartered territory.
        
        p In applying design thinking to identify the main audience and my value proposition, I ended up defining the main audience as 
          em "experienced digital workers who want to use their skills to help refugees".
              
        h4 The Team
        p Over the course of a few months, a community of over 90 digital workers gathered around the mission I'd articulated about helping refugees prosper in Europe. While I can't list all the team members here, I thought I would try and include some of the core members who helped make Prosper happen.
        
        ul.people-list--small
          li
            img(src="http://placehold.it/32x32" alt="Natasha Freidus headshot")
            a(href="http://www.creativenarrations.net/") Natasha Freidus
            p Project Management
          li
            img(src="http://placehold.it/32x32" at="Judah Armani headshot")
            a(href="http://www.public-hq.com/") Judah Armani
            p Strategy
          li
            img(src="http://placehold.it/32x32" alt="Jools Stone headshot")
            a(href="http://www.joolsstone.com/") Jools Stone
            p Marketing
          li
            img(src="http://placehold.it/32x32" alt="Bob Breznak headshot")
            a(href="https://twitter.com/bobbrez") Bob Breznak
            p Development
          li
            img(src="http://placehold.it/32x32" alt="Lily Worth headshot")
            a(href="http://www.lilyworth.co.uk/") Lily Worth
            p Data & Marketing
          li
            img(src="http://placehold.it/32x32" alt="Gerru Kloppers headshot")
            a(href="https://www.linkedin.com/pub/david-fritz/5/650/631") Gerru Kloppers
            p Data
          li
            img(src="http://placehold.it/32x32" alt="Dean Hayden headshot")
            a(href="http://deanhayden.co.uk/") Dean Hayden
            p Branding
          li
            img(src="http://placehold.it/32x32" alt="James Foster headshot")
            a(href="https://www.linkedin.com/in/james-foster-a8056474") James Foster
            p Development
          li
            img(src="http://placehold.it/32x32" alt="Amanda Levinson headshot")
            a(href="http://www.thirdspaceconsulting.net/") Amanda Levinson
            p Strategy
          li
            img(src="http://placehold.it/32x32" alt="Nick Hoh headshot")
            a(href="https://www.linkedin.com/in/nickhoh") Nick Hoh
            p UX Design
          li
            img(src="http://placehold.it/32x32" alt="Danielle Mullis headshot")
            a(href="http://www.daniellemullis.co.uk/") Danielle Mullis
            p Design
          li
            img(src="http://placehold.it/32x32" alt="persons name")
            a(href="https://www.linkedin.com/in/yvoloshin") Yury Voloshin
            p Development
              
        h3 Backstory
        p In the first few weeks of working at Clearleft, my wife and I witnessed the suffering of refugees on the news and in social media. As a response, my wife and I reached out to 
          a(href="http://www.refugees-welcome.net/") Refugees Welcome
          |  to see if we could host someone in the spare bedroom of our home. In the following weeks that ensued, we witnessed the massive obstacles that Refugees Welcome was facing at providing such a crucial service at scale.
          
        p They were manually matching refugees with shared flats that they'd learned about either through email or a simple form on their website. They were completely overwhelmed and as an outsider with technical experience it seemed like there was an opportunity to help... 

        h4.subheader The Inciting Incident
        p A few weeks after reaching out to Refugees Welcome, I attended a workshop led by 
          a(href="https://twitter.com/bensauer") Ben Sauer
          |  for the 
          a(href="http://clearleftinterns.tumblr.com/") Clearleft interns
          |  who were working on a product design project. The purpose of the workshop was to demonstrate the types of activities which could generate genuine product concepts for the interns. I won't go into any detail about the mechanics of the workshop here, but if you're interested, I wrote a blog post about it on 
          a(href="https://90days.john-ellison.com/2015/day-43-popular-thing-for-broken-thing-workshop") Day 43
          |   of my 90 days at Clearleft.
          
        p As a guest participant of the workshop, I stumbled into a place of deep inspiration. I was looking at two sticky notes that I'd written feeling like there was a huge potential rising within me:
          
        img(src="images/slack-and-migration.jpg", alt="slack and refugee crisis sticky notes")
        
        p I described the concept that I conceived as follows:
        
        blockquote 
          p &ldquo;My startup is called 'Refuge'. It is a slack community for the refugee crisis. Right now, there are millions of refugees from all over the world trying to find a place to live. There are citizens who are trying to welcome refugees into their spare bedrooms and there are governments and charities who are trying to solve this problem on a local and national scale.
        
          p Currently there is no central communication platform for all of these people to communicate.
            
          p I want to use Slack as a free central communication platform for the refugee crisis. I am going to create a simple landing page that describes the idea and calls people to action by submitting their names and email addresses.

          p I will create a Slack community with various topics and regions so that:
          ul 
            li Refugees can share their stories and reconnect with family members
            li Citizens can open their rooms and homes to refugees and refugee families
            li Governments and charities can communicate with the international refugee crisis and use all of the information in the Slack community to make well-informed decisions
        
        p The feedback I received from participants was really encouraging. I remember 
          a(href="http://clearleft.com/is/anna-carlson") Anna Carlson
          |  and 
          a(href="http://clearleft.com/is/james-box") James Box
          |  both saying "You should totally do this," to which I replied "I am going to do this." When I said it at first, I don't think any of us realized how seriously I meant it. But with every breath I felt the urge deepen within me. As I walked out of the room I heard a voice resounding in my head, 
          em "I have to do this..."
            
        h3 Process
        p The weekend after the workshop I began working to test whether the concept I envisioned could work. Through a tight cycle of feedback and iteration I evolved the concept into what is now known as Prosper. The process below doesn't necessarily reflect the exact series of events, but gives a general sense of how I worked throughout the project to explore how I could contribute to the refugee crisis given the resources I had available.
        
        h4.subheader Finding Direction With an MVP
        p With a vague idea of what 'this' was, I set out to test whether or not there was a demand for the product I conceived. As a designer fluent in HTML and CSS, I threw up a landing page over the weekend:
        
        img(src="images/refugee-community-landing-page.jpg", alt="the first landing page I launched for the concept which evolved into Prosper")
        
        p Several days later I scheduled a 'Brown Bag' (the term Clearleft uses for casual presentations over lunch) and invited everyone at Clearelft. Over the course of the Brown Bag, I was honored to receive criticism and feedback from several of the best designers and developers in the industry. 
        
        p I also sent the link around to a few people who I knew were active within the refugee crisis.
        
        h4.subheader Testing & Iterating The MVP
        
        p As a result of the feedback I received on the initial MVP, I pivoted to this:
        
        img(src="images/solve-the-refugee-crisis-landing-page.jpg", alt="the second iteration for the concept which evolved into Prosper")
          
        p Shortly after I published the new iteration, I sent a link to 
          a(href="http://www.jonaskakoschke.de/") Jonas Kakoschke
          | , the founder of Refugees Welcome, and requested an interview to test the direction and viability of my concept.
          
        p Jonas quickly responded to my request (which provided an initial form of validation) and we scheduled an interview for a few days later.
          
        img(src="images/interview-with-jonas.jpg", alt="speaking with jonas kakoschke founder of refugees welcome on skype")    
          
        p The interview with Jonas provided me with a few insights that I heavily leveraged moving forward. At first he was disappointed that the website I sent him was just a concept and not a reality, but he graciously continued the conversation and spoke earnestly nonetheless.
        
        p During our discussion Jonas said two things which stood out to me,
       
        blockquote &ldquo;We don't have the luxury to step back and create proactive solutions. We only have time to respond&rdquo;
       
        blockquote &ldquo;We need money of course, but above everything we need manpower. We need skilled people who can solve problems and make things work at scale&rdquo;
       
        p After speaking to Jonas I pivoted the value proposition of the concept to:
        
        em We're a community of digital workers collaborating to solve the refugee crisis.
        
        p With a new focused target audience (digital workers), I sent out the link to a few of the design and development communities that I've come to be apart of over the years.
        
        p The response was incredibly humbling:
        
        blockquote "I've been searching for an opportunity to apply my skills towards something meaningful and as soon as I saw your link I realized 'This is it!'."
      
        //- ul.m-image-grid
        //-   li
        //-     img(src="images/thengine-brainstorm-3.jpg" alt="a third whiteboard image showing a brainstorm for thengine" title="Thengine UX Brainstorm Whiteboard 3")
        //-   li
        //-     img(src="images/thengine-brainstorm-1.jpg" alt="brainstorming my first ux project ever. whiteboard image 1" title="Thengine UX Brainstorm Whiteboard 1")
        //-   li
        //-     img(src="images/thengine-brainstorm-2.jpg" alt="another brainstorming session for thengine's mvp" title="Thengine UX Brainstorm Whiteboard 2")


        h3 The Outcome
        p With very little resources and a short amount of time, I was able to play an intsrumental role in creating a community of digital workers who made a significant contribution to the refugee crisis through design and technology. In four months, we researched, designed, developed and deployed an open source application (RefugeeProjects.com) that has been used by a wide range of actors including refugees, volunteers, BBC Media Action and Techfugees.
        
        p To learn more about our process for building the RefugeeProjects.com initiative, please check out 
          a(href="http://blog.prosper.community/our-journey-to-build-refugee-projects-com/") Our Journey To Build RefugeeProjects.com: A Guide for Digital Humanitarians
          | .

        //- .portfolio-screenshots
        //-   img(src="images/thengine-home-galaxy.jpg" alt="a live screenshot of thengine's homepage on a samsung galaxy" title="Thengine MVP UX Device Mockup 2")
        //-   img(src="images/thengine-home-page-ipad.jpg" alt="a live screenshot of thengine's homepage on an iPad" title="Thengine MVP UX Device Mockup 3")
        //-   img(src="images/thengine-about-page-ipad.jpg" alt="a live screenshot of thengine's about page on an iPad" title="Thengine MVP UX Device Mockup 4")
        //-   img(src="images/thengine-homepage-macbook.jpg" alt="a live screenshot of thengine's homepage on a macbook pro" title="Thengine MVP UX Device Mockup 1")

        h3 Retrospective
