extends layout

block content 
  .row
    .thank-you-content
      p.lead.text-center
        a.button(href="/") &#65513; Back to Home
      h4 Success!
      h1 Thanks for your message
      p.lead I&apos;ll get back to you as soon as I can.