extends layout

block content    
  article
    .row
      .main-article-content
        h1
          a(href='thengine.html') Thengine &ndash; UX Design
        |   
        h3 The Story
        p
          | After the founders of Thengine graduated from The Founder&rsquo;s Institute, a startup incubator, I met with Michael Catlin, Thengine&rsquo;s CEO to talk about UX / UI and Storytelling.
        |   
        p
          | Michael and I met at Lighthouse, a local non-profit that holds workshops for writers. As a motion picture screenwriter out of LA, Michael had lots of interaction with the music and entertainment industry. He saw a fatal flaw in the industry and had a vision for how to fix it. His solution was Thengine.
        |   
        p
          | I sat down with Michael and combed over the concepts that he and his partners had developed over the past year at the Founder&rsquo;s Institute.
        |   
        h3 The Problem
        |   
        p
          | Thengine&rsquo;s founders had dozens of brilliant ideas, and had so much they wanted to do, but didn&rsquo;t have a clear idea about how to execute it or what it would look like.
        h3 The Goal
        |   
        p
          | Create a Minimum Viable Product that represented Thengine&rsquo;s long-term vision and provided a foundation that could grow exponentially in a very short amount of time.
        h3 My Process
        |   
        p
          | I led the user experience design of Thengine&rsquo;s first build. Working with the three founders, a marketer and a developer, I led a phase of research and consequently a phase of design. I conducted interviews with local musicians and professional musicians across the country.
        |     I ran user surveys and began to develop a Lean Hypothesis. After working with Michael in his plot class and uncovering John Truby&rsquo;s Anatomy of Story, I pushed Michael and his partners to boil Thengine down into a single sentence. We reviewed our research findings and together came up with: A lean start-up for musicians and their fans.
        |   
        p
          | I used The Foundation 5 Framework by Zurb to wireframe the 5 pages of the MVP. After a phase of live wireframe tests, I made several iterations and settled on a final prototype or mock-up. The mock-up (not functional) can be seen here at Thengine MVP &ndash; designed by John Ellison.
        h3 The Outcome
        |   
        p
          | ThEngine is currently in a pre-alpha phase. Their Ruby on Rails developers are hard and work and we should be expecting a public beta soon.
