extends layout

block title
  | Thengine UX Project - John Ellison

block content
  article
    section.m-marquee#thengine  
      hgroup
        h1  Thengine
        h2.subheader UX Research, Design &amp; Development
        h4.subheader 
          a.cta.white(href="http://dev2.john-ellison.com/" title="A Link to Thengine MVP by John Ellison") Visit the finished site
    .main-article-container
      .main-article-content
        hgroup
          h2 Screenshots
          h5.subheader Courtesty of 
            a(href="http://browserstack.com") Browserstack
            
        .portfolio-screenshots
            img(src="images/thengine-homepage-macbook.jpg" alt="a live screenshot of thengine's homepage on a macbook pro" title="Thengine MVP UX Device Mockup 1")
            img(src="images/thengine-home-galaxy.jpg" alt="a live screenshot of thengine's homepage on a samsung galaxy" title="Thengine MVP UX Device Mockup 2")
            img(src="images/thengine-home-page-ipad.jpg" alt="a live screenshot of thengine's homepage on an iPad" title="Thengine MVP UX Device Mockup 3")
            img(src="images/thengine-about-page-ipad.jpg" alt="a live screenshot of thengine's about page on an iPad" title="Thengine MVP UX Device Mockup 4")
        h2 Case Study
        
        h3 The Story
        p While Thengine's founders were attending 
          a(href="http://fi.co/#" title="link to the founder's institute") The Founder&rsquo;s Institute
          | , they learned how Storytelling and User Experience Design is an integral part of a successful product. I sat down with Michael Catlin, Thengine's CEO, and combed over the concepts that he and his partners had developed over their year at the Founder&rsquo;s Institute.

        h3 The Problem
        p Thengine&rsquo;s founders had dozens of brilliant ideas, but didn&rsquo;t have a clear idea about how to execute it or what the actual product would look like.
        img(src="images/thengine-ux-concept.jpg" alt="a sketch of the thengine's problem" title="Thengine's UX Concept Sketch by John Ellison")

        h3 The Goal
        p The goal was to create a Minimum Viable Product ("MVP") that would allow Thengine to prove profitability to its funders and establish an initial userbase of musicians and fans.
        
        h3 My Process
        h4.subheader Step 1. Brainstorm
        p I started the project by trying to understand the root of the problem that local musicians were facing and to construct an interface that would help solve that problem. 

        p I was reading 
          a(href="http://www.amazon.com/UX-Lean-Startups-Experience-Research/dp/1449334911/ref=sr_1_1?s=books&ie=UTF8&qid=1419388597&sr=1-1&keywords=ux+for+lean+startups", title="check out UX for Lean Startups on Amazon")
            em UX for Lean Startups
          |  by Laura Klein and used her book to help craft my iteration/validation approach.

        img(src="images/thengine-brainstorm-1.jpg" alt="brainstorming my first ux project ever. whiteboard image 1" title="Thengine UX Brainstorm Whiteboard 1")
        img(src="images/thengine-brainstorm-2.jpg" alt="another brainstorming session for thengine's mvp" title="Thengine UX Brainstorm Whiteboard 2")
        img(src="images/thengine-brainstorm-3.jpg" alt="a third whiteboard image showing a brainstorm for thengine" title="Thengine UX Brainstorm Whiteboard 3")


        h4.subheader Step 2. Low-Fidelity Prototyping
        p For several months I read 
          a(href="http://zurb.com/university/lessons" title="check out Zurb university") Zurb Foundation's Product Design Lessons
          |  every week and I learned quickly that design should start at very low-fidelity (as in: on paper not on computer). It was fascinating to see the development of ideas as you moved from one concept to the next. Each idea had a central premise, and when I changed the center, the idea evolved around it. The more central concepts I tried, the more diverse the prototypes became.

        img(src="images/thengine-lo-fi.jpg" alt="low-fidelity ux prototyping for thengine" title="Lo-Fidelity UX Prototyping for Thengine 1 by John Ellison")
        img(src="images/thengine-lo-fi-1.jpg" alt="another low-fidelity sketch for thengine ux project" title="Lo-Fidelity UX Prototyping for Thengine 2")
        img(src="images/thengine-lo-fi-2.jpg" alt="a third sketch for the low-fi prototyping stage of the project" title="Lo-Fidelity UX Prototyping for Thengine 3")

        h4.subheader Step 3. Medium-Fidelity Prototyping
        p I transitioned from my pen and paper prototypes towards medium-fidelity with Adobe Illustrator.
        .row
          .medium-6.columns
            img(src="images/thengine-med-fi-1.jpg" alt="bringing together a higher fidelity prototype for thengine's app concept" title="Thengine UX App Concept - John Ellison")
            img(src="images/thengine-med-fi-2.jpg" alt="another screen for thengine prototype showing search navigation" title="Thengine UX App navigation")
          .medium-6.columns
            img(src="images/thengine-med-fi-3.jpg" alt="a prototype showing one possible share-button design for thengine" title="Thengine share button design idea")

        h4.subheader Step 4. User Research
        p I initiated a period of research based upon my user segments of 'Musician' and 'Fan'. I conducted interviews with local musicians and their fans, and recruited musicians for interviews over skype.
        p Here are the questionnaires I wrote for each user segment:
          ul
            li
              a(href="pdfs/artist-interview.pdf" alt="open the artist questionnaire") Artist Interview Questionnaire
            li
              a(href="pdfs/fan-interview.pdf" alt="open the fan questionnaire") Fan Interview Questionnaire
        p We quickly learned that Thengine needed to focus solely on the music itself rather than try and create a platform for musicians to share all types of content with their fans. It also simplified the MVP greatly, but to me it didn't seem to create a unique value proposition.

        p I changed the prototypes and started moving into a front-end so we could watch users performing simple flows like signing up for our app and downloading songs.

        h4.subheader Step 5. Create a Lean Hypothesis
        p After our first round of interviews, I began to develop a Lean Hypothesis. I pushed Michael and his partners to boil Thengine down into a single sentence. We reviewed our research findings and together came up with:
          blockquote A lean start-up experiment for musicians and their fans.
        p The hypothesis didn't come in the exact format I was looking for which clearly articulates the user, their problem, and the solution, but the exercise definitely helped clarify the scope of the project. There also wasn't a measurable component of the hypothesis which would have allowed us to pivot based upon our ability to meet our success metric, but still, we were headed towards clearer waters.
        
        h4.subheader Step 6. Live Prototyping (Front-End Development)
        p After a bit of research, I decided to use 
          a(href="http://foundation.zurb.com/" title="check out Foundation 5") Foundation 5
          |  to develop a live prototype of Thengine's MVP. After approaching people in a local coffee shop and asking them to take a look at the landing page, I would ask simple questions like "What do you think this website is about?" "What does this website have to offer?" "Would you refer this to a friend or family member?".

        p This is where I began testing the most important user flow—the signup. It was amazing how many assumptions I made that were completely wrong yet seemed equally obvious. Good thing I made the effort to watch actual people trying to signup for Thengine.

          img(src="images/thengine-live-prototype-desktop.jpg" alt="the desktop version of my live prototype of thengine - verson 1.0" title="Thenine UX Live Prototype Desktop")
          img(src="images/thengine-live-prototype-tablet.jpg" alt="the tablet version of my live prototype of thengine - verson 1.0" title="Thenine UX Live Prototype Tablet")
          img(src="images/thengine-live-prototype-mobile.jpg" alt="the mobile version of my live prototype of thengine - verson 1.0" title="Thenine UX Live Prototype Mobile")

        h4.subheader Step 7. Interaction Design
        p I read Dan Saffer's 
          a(href="http://www.amazon.com/Microinteractions-Color-Edition-Designing-Details/dp/1491945923" title="check out Microinteractions on Amazon")
            em Microinteractions: Designing with Details
          |  and was compelled by the power of small visceral components.
        p The idea that an application could create joy for its users through its microinteractions was highly appealing to me. It wasn't just about the layout, hierarchy, color and imagery. It was about the way that the application responded to the user and sparked delight through small yet engaging responses.

        p I lent my hand at designing a custom share button for Thengine. I wanted it to 
          em feel
          |  fun and encourage users to engage with it again and again.

        p Inspired by 
          a(href="https://path.com/" title="See the homepage for Path, the app that inspired my microinteraction design for thengine") Path
          |  I designed a share icon that rotated and spun out buttons when clicked.

        .row
          .medium-6.columns
            img(src="images/thengine-share-1.jpg" alt="thengine's microinteractoin button in its normal state" title="Thengine Share Button 1")
          .medium-6.columns
            img(src="images/thengine-share-2.jpg" alt="thengine's microinteractoin button in its clicked state" title="Thengine Share Button 2")
        h3 The Outcome
        p After several phases of user testing and iteration, I received a final approval from Thengine's founders and passed along the front-end to be developed by a back-end team. 
        p The project was incredibly hard work but it was my first step into the world of UX and I am happy with how my process helped Thengine take thousands of concepts in boil them into one tangible idea that was usable on all devices.
        p Thengine's Ruby on Rails developers are hard and work and we should be able to see a public beta soon.