extends layout

block title
  | Thengine UX Project Case Study - John Ellison Portfolio

block content
  article
    section.m-marquee#thengine  
      hgroup
        h1  Thengine
        h2.subheader UX Research, &amp; Design
        h4.subheader
    .main-article-container
      .main-article-content
        h2 Case Study
        img(src="images/thengine-homepage-macbook.jpg" alt="a live screenshot of thengine's homepage on a macbook pro" title="Thengine MVP UX Device Mockup 1")

        .callout
          p Thengine is a startup for local musicians and their fans. Thengine's founders wanted to create a multimedia content platform where fans could subscribe to their favorite musicians and receive a stream of curated content in return.
    
        h3 The Story
        p
          span.drop-cap W
          | hile Thengine's founders were attending 
          a(href="http://fi.co/#" title="link to the founder's institute") The Founder&rsquo;s Institute
          | , they learned how User Experience Design is an integral part of building a product people actually use. I held a stakeholder workshop with Michael Catlin, Thengine's CEO, and combed over the concepts that he and his partners had developed over their year at the Founder&rsquo;s Institute.

        h4 The Problem
        p Thengine&rsquo;s founders had dozens of brilliant ideas, but didn&rsquo;t have a clear vision about how to execute it or what the actual product would look like.

        p Thengine's initial concept was to provide a music streaming service that rivaled the likes of Spotify and Pandora. Not only were those behemoth competitors with millions of dollars in funding, but they also wanted to make a curated mutli-media platform which seemed nearly impossible for their shoestring budget.

        p With all these big concepts, we needed a clear definition of what we would actually build to test Thengine's product-market fit.

        figure
          img(src="images/thengine-ux-concept.jpg" alt="a sketch of the thengine's problem" title="Thengine's UX Concept Sketch by John Ellison")
          figcaption A sketch to illustrate all the concepts and philosophies behind Thengine and our need to prioritize them into a single Minimum Viable Product ("MVP").

        h4 The Goal
        p The goal was to create a MVP that would allow Thengine to prove their business model to its funders and establish an initial userbase of local musicians and their fans.

        h4 The Team
        ul.people-list
          li
            img(src="images/thengine-michael-catlin.jpg", alt="")
            a(href="https://www.linkedin.com/in/mwcatlin") Michael Catlin
            p CEO
          li
            img(src="images/thengine-david-wolf.jpg", alt="")
            a(href="https://www.linkedin.com/in/smallbizamerica") David Wolf
            p CFO
          li
            img(src="images/thengine-paul-saunders.jpg", alt="")
            a(href="https://www.linkedin.com/in/paulksaunders") Paul Saunders
            p COO
          li
            img(src="images/thengine-neal-behrendt.jpg", alt="")
            a(href="https://www.linkedin.com/pub/neal-behrendt/15/485/559") Neal Behrendt
            p Marketing Contractor
          li
            img(src="images/thengine-david-fritz.jpg", alt="")
            a(href="https://www.linkedin.com/pub/david-fritz/5/650/631") David Fritz
            p Developer
        
        h3 My Process
        p I used this opportunity to implement the user-centered design process I had been studying for the first few months of my freelance career. This was the first project where I was designing a user's experience rather than just a website. While my process most certainly wasn't perfect, I wanted to share my journey and what I learned along the way.

        h4.subheader Step 1. Discovery
        p I began the project by facilitating a stakeholder workshop with Thengine's founders that included:
        ul
          li Defining objectives
          li Defining target audiences
          li Brainstorming business concepts / feature ideas
          li Prioritizing based on viability and value

        p I was reading 
          a(href="http://www.amazon.com/UX-Lean-Startups-Experience-Research/dp/1449334911/ref=sr_1_1?s=books&ie=UTF8&qid=1419388597&sr=1-1&keywords=ux+for+lean+startups", title="check out UX for Lean Startups on Amazon")
            em UX for Lean Startups
          |  by Laura Klein and used her approach to help craft our iteration/validation process and to communicate the concept of Lean UX to Thengine's founders.

        p I used three guiding questions from Laura Klein's book to help guide the project definition:
        ul
          li What is the root of the problem that local musicians  face in making a living?
          li How does our product solve that problem?
          li How do we measure the success of our efforts?

        ul.m-image-grid
          li
            img(src="images/thengine-brainstorm-3.jpg" alt="a third whiteboard image showing a brainstorm for thengine" title="Thengine UX Brainstorm Whiteboard 3")
          li
            img(src="images/thengine-brainstorm-1.jpg" alt="brainstorming my first ux project ever. whiteboard image 1" title="Thengine UX Brainstorm Whiteboard 1")
          li
            img(src="images/thengine-brainstorm-2.jpg" alt="another brainstorming session for thengine's mvp" title="Thengine UX Brainstorm Whiteboard 2")

        h4.subheader Step 2. User Research
        p When we arrived at a clearer problem definition and target audience, I invited Thengine's founders to join me in an initial user research phase. I wanted to validate the premises behind our thinking before we started designing and building the MVP.

        blockquote &ldquo;The biggest improvements in user experience come from gathering usability data as early as possible in a project&rdquo; 
          footer —
           a(href="http://www.nngroup.com/articles/paper-prototyping/?utm_content=buffer7937c&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer")  Jakob Nielsen

        figure
          img(src="images/thengine-user-research-outline.jpg", alt="")
          figcaption Outlining the elements of user research during a planning meeting. 

        p I researched venues in Denver that had the strongest community of local music, and scheduled research events with Thengine's team in Denver.

        p After attending a few shows, we identified several musicians that fit our segment definition: local musicians that were determined to make a living playing music and were dissatisfied with the existing platforms (Spotify, iTunes, Pandora, CDBaby, etc.). 

        ul.m-image-grid
          li
            figure
              img(src="images/josh-blackburn.jpg", alt="josh blackburn local denver musician")
              figcaption Josh Blackburn
          li
            figure
              img(src="images/the-electric-gypsies.jpg", alt="josh blackburn local denver musician")
              figcaption The Electric Gypsies

        h4.subheader Step 3. Research Analysis

        img(src="images/thengine-research-analysis.jpg", alt="analyzing research findings")#research-analysis
        p We extracted snippets from our interview notes and placed them on a wall. During our discussion I had a realization: Rather than create a multi-media platform and compete with the current media giants, we needed to build a tool that facilitated a 'back-stage' relationship for local musicians to exchange authentic experiences with their fans.

        p That type of intimate relationship wasn't available anywhere else and would allow Thengine to monetize the relationship between a musician and their fans (like they envisioned). We needed to bridge the digital/physical context of creating and experiencing music. We needed to reward fans for subscribing to their favorite musicians and reward musicians for sharing their most intimate process.

        blockquote I called the concept 'The Songwriting Room'. It would be a place where musicians released version-controlled tracks to a subscription-only fanbase. This would fulfill the fan's desire to have a deeper relationship with their favorite local artists, and would allow musicians to open their songwriting process to a core fanbase that could support them both financially and emotionally.

        p While Thengine's founders appreciated and resonated with The Songwriting Room concept, they bought into it only as far as committing to 'add it to version two'. They determined to persist with their original concepts despite our research and as a result we seemed headed towards building a halfway MVP that wasn't focused on solving a specific problem for a specific audience.

        p I think part of this was because two of the founders worked remotely and didn't participate in the research with the local Denver team. This made pivoting through research findings particularly difficult.

        p Also, none of Thengine's founders had ever built a digital product before so it seemed to create a barrier to implementing the iterative process of research and design.

        h4.subheader Step 4. Create a Lean Hypothesis
        p Before starting the design process, I pushed Thengine's founders to boil Thengine down into a single sentence. 

        p I suggested the following: 
          em A subscription-based Songwriting Room that allows local musicians to create an intimate back-stage relationship with their fans.

        p Thengine's founders came back with: 
          em A lean start-up experiment for musicians and their fans.

        p I expressed my concern that Thengine's definition seemed too vague for an MVP, but I also understood that they had ultimate ownership of their product and decided to move forward with creating an aesthetic that would capture the vision of the product they envisioned.

        p As a result, I tried to involve them as closely as I could in the rest of the design process&mdash;keeping my feedback/validation cycles as small as possible.

        h4.subheader Step 5. Low-Fidelity Prototyping
        p For several months I read 
          a(href="http://zurb.com/university/lessons" title="check out Zurb university") Zurb Foundation's Product Design Lessons
          |  and learned the merits of ideating at very low-fidelity: it was fast and focused on concept rather than detail.
        ul.m-image-grid
          li
            a(href="images/thengine-lo-fi.jpg")
              img(src="images/thengine-lo-fi.jpg" alt="low-fidelity ux prototyping for thengine" title="Lo-Fidelity UX Prototyping for Thengine 1 by John Ellison")
          li
            a(href="images/thengine-lo-fi-1.jpg")
              img(src="images/thengine-lo-fi-1.jpg" alt="another low-fidelity sketch for thengine ux project" title="Lo-Fidelity UX Prototyping for Thengine 2")
          li
            a(href="images/thengine-lo-fi-2.jpg")
              img(src="images/thengine-lo-fi-2.jpg" alt="a third sketch for the low-fi prototyping stage of the project" title="Lo-Fidelity UX Prototyping for Thengine 3")
          li
            a(href="images/thengine-lo-fi-3.jpg")
              img(src="images/thengine-lo-fi-3.jpg" alt="a fourth sketch for the low-fi prototyping stage of the project" title="Lo-Fidelity UX Prototyping for Thengine 4")
          li
            a(href="images/thengine-lo-fi-4.jpg")
              img(src="images/thengine-lo-fi-4.jpg" alt="a fifth sketch for the low-fi prototyping stage of the project" title="Lo-Fidelity UX Prototyping for Thengine 5")
          li
            a(href="images/thengine-lo-fi-5.jpg")
              img(src="images/thengine-lo-fi-5.jpg" alt="a sixth sketch for the low-fi prototyping stage of the project" title="Lo-Fidelity UX Prototyping for Thengine 6")

        p After receiving a thumbs-up on the initial low-fidelity prototypes for Thengine's homepage, I transitioned to higher fidelity. I thought we could use the home-page as an atom around which the rest of the design and business concepts would evolve. I urged Thengine's founders to write content that would further define what we were building so we could design the interface according to the content rather than inserting the content into the design as an afterthought.

        h4.subheader Step 6. Medium-Fidelity Prototyping
        p I transitioned from my pen and paper prototypes towards medium-fidelity with Adobe Illustrator.
        ul.m-image-grid
          li
            img(src="images/thengine-med-fi-1.jpg" alt="bringing together a higher fidelity prototype for thengine's app concept" title="Thengine UX App Concept - John Ellison")
          li
            img(src="images/thengine-med-fi-2.jpg" alt="another screen for thengine prototype showing search navigation" title="Thengine UX App navigation")
          li
            img(src="images/thengine-med-fi-3.jpg" alt="a prototype showing one possible share-button design for thengine" title="Thengine share button design idea")
        
        h4.subheader Step 7. Live Prototyping
        p I decided to use 
          a(href="http://foundation.zurb.com/" title="check out Foundation 5") Foundation 5
          |  to develop a live prototype of Thengine's MVP so I could test the design at local music venues. I would arrive early to a show and ask fans to use their own devices to look at the landing page. I would ask simple questions like "What do you think this website is about?" "What does this website have to offer?" "Does the offering interest you?" "If you were interested, how would you sign up?" "How would you share this with a friend or family member?".

          img(src="images/thengine-live-prototype-desktop.jpg" alt="the desktop version of my live prototype of thengine - verson 1.0" title="Thenine UX Live Prototype Desktop")
          img(src="images/thengine-live-prototype-tablet.jpg" alt="the tablet version of my live prototype of thengine - verson 1.0" title="Thenine UX Live Prototype Tablet")
          img(src="images/thengine-live-prototype-mobile.jpg" alt="the mobile version of my live prototype of thengine - verson 1.0" title="Thenine UX Live Prototype Mobile")

        h4.subheader Step 8. Remote Usability Testing
        p We recruited a handful of musicians and local music fans from around the country to participate in remote usability testing. With the live prototype up and running, I collaborated with Thengine's marketing contractor to test the usability of our prototypes. We usually started the testing process with a short user interview to get to know the person and their context before asking them to perform tasks on the website.

        h4.subheader Step 9. Microinteraction Design
        p In our usability testing sessions, we discovered that the ability to easily share a musician's page was a major feature that was lacking from the MVP.

        p I read Dan Saffer's 
          a(href="http://www.amazon.com/Microinteractions-Color-Edition-Designing-Details/dp/1491945923" title="check out Microinteractions on Amazon")
            em Microinteractions: Designing with Details
          |  and was compelled by the power of small visceral components.

        p Inspired by 
          a(href="https://path.com/" title="See the homepage for Path, the app that inspired my microinteraction design for thengine") Path
          | , I designed a share icon that rotated and spun out buttons when clicked.I wanted it to 
          em feel
          |  fun and encourage users to use it again and again.

        ul.m-image-grid
          li
            img(src="images/thengine-share-1.jpg" alt="thengine's microinteractoin button in its normal state" title="Thengine Share Button 1")
          li
            img(src="images/thengine-share-2.jpg" alt="thengine's microinteractoin button in its clicked state" title="Thengine Share Button 2")

        h3 The Outcome
        p After several iterations, we passed along the live prototypes to Thengine's Ruby on Rails developers. Unfortunately there wasn't a whole lot of collaboration with the developer before that hand-off as there had been some contract negotiation issues with the previous developers. I don't think having a cold hand-off like that is in any way desirable. 

        p My work helped Thengine's founders take thousands of concepts and distill them into a tangible MVP through authentic user insights. My work allowed Thengine to test their startup concept and seek funding for the next round.

        p It did seem as though Thengine's founders, in attempting to create a platform that did 'everything' they may have approached creating a platform that provided little to no value to anyone. We will see how the story unfolds for Thengine as they seek further funding.

        .callout
          include views/includes/michael-catlin-testimonial

        hr
          
        include views/includes/_screenshot-header
            
        .portfolio-screenshots
          img(src="images/thengine-home-galaxy.jpg" alt="a live screenshot of thengine's homepage on a samsung galaxy" title="Thengine MVP UX Device Mockup 2")
          img(src="images/thengine-home-page-ipad.jpg" alt="a live screenshot of thengine's homepage on an iPad" title="Thengine MVP UX Device Mockup 3")
          img(src="images/thengine-about-page-ipad.jpg" alt="a live screenshot of thengine's about page on an iPad" title="Thengine MVP UX Device Mockup 4")
          img(src="images/thengine-homepage-macbook.jpg" alt="a live screenshot of thengine's homepage on a macbook pro" title="Thengine MVP UX Device Mockup 1")

        h3 Room For Improvement
        p Throughout the project I identified some places in my work where I could most certainly improve. Here are a few takeaways:
        ul
          li The project should have taken place in a much shorter amount of time and with physical co-location. Working remotely seemed to be the biggest obstacle to lean processes.
          li I should have clarified the importance of all members of Thengine's team getting out of the building and talking to local musicians and their fans. This would have created universal buy-in to the research insights and would have resulted in a better MVP.
          li My design process needed a tighter validation cycle. I should have created a weekly sprint schedule with team-wide user research planned for the same day of every week so we were never more than five days away from validation.
          li I wish we would have set aside budget to outsource user recruitment. It was amazing how much time it took to manage the user recruitment process and how little energy it left over to do the actual research and testing.
  
        include views/includes/contact
