extends layout

block title
  | Thengine UX Project - John Ellison

block content
  article
    section.m-marquee#thengine  
      hgroup
        h1  Thengine
        h2.subheader UX Research, Design &amp; Development
        h4.subheader 
          a.cta.white(href="http://dev2.john-ellison.com/" title="A Link to Thengine MVP by John Ellison") Visit the finished site
    .main-article-container
      .main-article-content
        
        img(src="images/thengine-homepage-macbook.jpg" alt="a live screenshot of thengine's homepage on a macbook pro" title="Thengine MVP UX Device Mockup 1")
    
        h2 Case Study
        p Thengine is a Denver-based startup for local musicians and their fans. Thengine rooted itself in the idea that the music industry was moving towards monetized relationships as opposed to the current model of moentized content. Thengine's founders envisioned a platform where people would pay for a relationship to their favorite artists and receive curated streams of content.

        p Defining and testing these assumptions was key to the success of their MVP.
        
        h3 The Story
        p While Thengine's founders were attending 
          a(href="http://fi.co/#" title="link to the founder's institute") The Founder&rsquo;s Institute
          | , they learned how Storytelling and User Experience Design is an integral part of a building a product people actually use. I held a stakeholder workshop with Michael Catlin, Thengine's CEO, and combed over the concepts that he and his partners had developed over their year at the Founder&rsquo;s Institute.

        h3 The Problem
        p Thengine&rsquo;s founders had dozens of brilliant ideas, but didn&rsquo;t have a clear idea about how to execute it or what the actual product would look like.

        p Thengine's initial concept was to provide a music streaming service that rivaled Spotify and Pandora. Not only were those behemoth competitors, but they also wanted to make a curated mutli-media platform which was seemingly impossible for their shoestring budget.

        p With all these big concepts, we needed a clear definition of what we would actually build to test the value proposition.

        figure
          img(src="images/thengine-ux-concept.jpg" alt="a sketch of the thengine's problem" title="Thengine's UX Concept Sketch by John Ellison")
        figcaption A sketch to illustrate all the concepts and philosophies behind Thengine and our need to prioritize them into a single minimum viable product.

        h3 The Goal
        p The goal was to create a Minimum Viable Product ("MVP") that would allow Thengine to prove their business model to its funders and establish an initial userbase of local musicians and their fans.
        
        h3 My Process
        p Hired to design Thengine's MVP, I used this opportunity to implement the user-centered design process I had been studying for the first few months of my freelance career. This was the first project where I was designing a user's experience rather than just a website. While my process most certainly wasn't perfect, I wanted to share my journey and what I learned along the way.

        h4.subheader Step 1. Stakeholder Workshop
        p I began the project by facilitating a stakeholder workshop with Thengine's founders. I started us off by offering three guiding questions:
        ul
          li What is the root of the problem that local musicians  face in making a living?
          li How is our product a solution to that problem?
          li How do we measure our success?

        p I was reading 
          a(href="http://www.amazon.com/UX-Lean-Startups-Experience-Research/dp/1449334911/ref=sr_1_1?s=books&ie=UTF8&qid=1419388597&sr=1-1&keywords=ux+for+lean+startups", title="check out UX for Lean Startups on Amazon")
            em UX for Lean Startups
          |  by Laura Klein and used her approach to help craft our iteration/validation process and to communicate the concept of Lean UX to Thengine's founders.

        img(src="images/thengine-brainstorm-3.jpg" alt="a third whiteboard image showing a brainstorm for thengine" title="Thengine UX Brainstorm Whiteboard 3")
        img(src="images/thengine-brainstorm-1.jpg" alt="brainstorming my first ux project ever. whiteboard image 1" title="Thengine UX Brainstorm Whiteboard 1")
        img(src="images/thengine-brainstorm-2.jpg" alt="another brainstorming session for thengine's mvp" title="Thengine UX Brainstorm Whiteboard 2")

        h4.subheader Step 2. User Research
        p Once we had an idea of the problem we were solving and who were solving it for, I invited Thengine's founders to join me in a period of user research. We needed to get out of the building and talk with local musicians and their fans. I wanted us to validate the premises behind the business concepts we defined before we started designing and building our MVP.

        figure
          img(src="images/thengine-user-research-outline.jpg", alt="")
          figcaption Outlining the elements of user research during a planning meeting. 

        p I researched venues in Denver that had the strongest community of local music, and scheduled research events with Thengine's team in Denver.

        p After attending a few shows, we identified several musicians that fit our segment definition: local musicians that were determined to make a living playing music and were dissatisfied with the existing platforms (Spotify, iTunes, Pandora, CDBaby, etc.). 

        figure
          img(src="images/josh-blackburn.jpg", alt="josh blackburn local denver musician")
          figcaption Josh Blackburn

        figure
          img(src="images/the-electric-gypsies.jpg", alt="josh blackburn local denver musician")
          figcaption The Electric Gypsies

        h4.subheader Step 3. Research Analysis

        img(src="images/thengine-research-analysis.jpg", alt="analyzing research findings")
        p We extracted snippets from our interview notes and placed them on a wall. During our discussion I had a realization: Rather than create a multi-media platform and compete with the current media giants, we needed to build a 'back-stage' relationship for local musicians and their fans. 

        p That type of intimate relationship wasn't available anywhere else and would allow us to monetize the relationship between a musician and their fans. We needed to bridge the digital/physical context of creating and experiencing music. We needed to reward fans for subscribing to their favorite musicians, and reward musicians for sharing their most intimate process.

        blockquote I called the concept 'The Songwriting Room'. It would be a place where musicians released version-controlled tracks to a subscription-only fanbase. This would fulfill the fan's desire to have a deeper relationship with their favorite local artists, and would allow musicians to open their songwriting process to a core fanbase that could support them both financially and emotionally.

        p While Thengine's founders appreciated and resonated with The Songwriting Room concept, they bought into it only as far as committing to 'add it to version two'. They determined to persist with their original concepts despite our research and as a result we seemed headed towards building a halfway MVP that wasn't focused on solving a specific problem for a specific audience.

        p I think part of this was because two of the founders worked remotely and didn't participate in the research with the local Denver team. This made pivoting through research findings particularly difficult.

        p Also, none of Thengine's founders had ever built a digital product before so it seemed to create a barrier to implementing the iterative process of research and design.

        h4.subheader Step 5. Create a Lean Hypothesis
        p Before starting the design process, I pushed Thengine's founders to boil Thengine down into a single sentence. 

        p I suggested the following: 
          em A tool that allows local musicians to monetize their songwriting process and create an intimate back-stage relationship with their fans.

        p Thengine's founders came back with: 
          em A lean start-up experiment for musicians and their fans.

        p I expressed my concern that Thengine's definition seemed too vague for an MVP, but I also understood that they had ultimate ownership of their product and decided to move forward with creating an aesthetic that would capture the vision of the product they envisioned.

        p As a result, I tried to involve them as closely as I could in the design and front-end development process&mdash;keeping my cycles as small as possible. I was confident that I would be able to shape the development of the product to meet the users needs.

        h4.subheader Step 3. Low-Fidelity Prototyping
        p For several months I read 
          a(href="http://zurb.com/university/lessons" title="check out Zurb university") Zurb Foundation's Product Design Lessons
          |  and learned the merits of ideating at very low-fidelity: it was fast and focused on concept rather than detail.

        img(src="images/thengine-lo-fi.jpg" alt="low-fidelity ux prototyping for thengine" title="Lo-Fidelity UX Prototyping for Thengine 1 by John Ellison")
        img(src="images/thengine-lo-fi-1.jpg" alt="another low-fidelity sketch for thengine ux project" title="Lo-Fidelity UX Prototyping for Thengine 2")
        img(src="images/thengine-lo-fi-2.jpg" alt="a third sketch for the low-fi prototyping stage of the project" title="Lo-Fidelity UX Prototyping for Thengine 3")

        p After receiving a thumbs-up on the initial low-fidelity prototypes for Thengine's homepage, I transitioned to higher fidelity. I thought we could use the home-page as an atom around which the rest of the design and business concepts would evolve. I urged Thengine's founders to write content that would further define what we were building so we could build the design around the content rather than inserting the content into the design as an afterthought.

        h4.subheader Step 4. Medium-Fidelity Prototyping
        p I transitioned from my pen and paper prototypes towards medium-fidelity with Adobe Illustrator.
        .row
          .medium-6.columns
            img(src="images/thengine-med-fi-1.jpg" alt="bringing together a higher fidelity prototype for thengine's app concept" title="Thengine UX App Concept - John Ellison")
            img(src="images/thengine-med-fi-2.jpg" alt="another screen for thengine prototype showing search navigation" title="Thengine UX App navigation")
          .medium-6.columns
            img(src="images/thengine-med-fi-3.jpg" alt="a prototype showing one possible share-button design for thengine" title="Thengine share button design idea")
        
        h4.subheader Step 6. Live Prototyping
        p I decided to use 
          a(href="http://foundation.zurb.com/" title="check out Foundation 5") Foundation 5
          |  to develop a live prototype of Thengine's MVP so I could test the design at local music venues. I would arrive early to a show and ask fans to use their own devices to look at the landing page. I would ask simple questions like "What do you think this website is about?" "What does this website have to offer?" "Would you refer this to a friend or family member?".

          img(src="images/thengine-live-prototype-desktop.jpg" alt="the desktop version of my live prototype of thengine - verson 1.0" title="Thenine UX Live Prototype Desktop")
          img(src="images/thengine-live-prototype-tablet.jpg" alt="the tablet version of my live prototype of thengine - verson 1.0" title="Thenine UX Live Prototype Tablet")
          img(src="images/thengine-live-prototype-mobile.jpg" alt="the mobile version of my live prototype of thengine - verson 1.0" title="Thenine UX Live Prototype Mobile")

        h4.subheader Step 7. Interaction Design
        p I read Dan Saffer's 
          a(href="http://www.amazon.com/Microinteractions-Color-Edition-Designing-Details/dp/1491945923" title="check out Microinteractions on Amazon")
            em Microinteractions: Designing with Details
          |  and was compelled by the power of small visceral components.
        p The idea that an application could create joy for its users through its microinteractions was highly appealing to me. It wasn't just about the layout, hierarchy, color and imagery. It was about the way that the application responded to the user and sparked delight through small yet engaging responses.

        p I lent my hand at designing a custom share button for Thengine. I wanted it to 
          em feel
          |  fun and encourage users to engage with it again and again.

        p Inspired by 
          a(href="https://path.com/" title="See the homepage for Path, the app that inspired my microinteraction design for thengine") Path
          |  I designed a share icon that rotated and spun out buttons when clicked.

        .row
          .medium-6.columns
            img(src="images/thengine-share-1.jpg" alt="thengine's microinteractoin button in its normal state" title="Thengine Share Button 1")
          .medium-6.columns
            img(src="images/thengine-share-2.jpg" alt="thengine's microinteractoin button in its clicked state" title="Thengine Share Button 2")
        h3 The Outcome
        p After several phases of user testing and iteration, I received a final approval from Thengine's founders and passed along the front-end to be developed by a back-end team. 
        p The project was incredibly hard work but it was my first step into the world of UX and I am happy with how my process helped Thengine take thousands of concepts in boil them into one tangible idea that was usable on all devices.
        p Thengine's Ruby on Rails developers are hard and work and we should be able to see a public beta soon.

        hgroup
          h2 Screenshots
          h5.subheader Courtesty of 
            a(href="http://browserstack.com") Browserstack
            
        .portfolio-screenshots
          img(src="images/thengine-home-galaxy.jpg" alt="a live screenshot of thengine's homepage on a samsung galaxy" title="Thengine MVP UX Device Mockup 2")
          img(src="images/thengine-home-page-ipad.jpg" alt="a live screenshot of thengine's homepage on an iPad" title="Thengine MVP UX Device Mockup 3")
          img(src="images/thengine-about-page-ipad.jpg" alt="a live screenshot of thengine's about page on an iPad" title="Thengine MVP UX Device Mockup 4")