extend layout

block title
  | Writings - John Ellison | Storyteller &amp; UX Designer

block content
  article
    section.writings-welcome-index
      hgroup
        h1 Writings
        h2.subheader About life and work as a storyteller and a ux designer...
    .writings-wrapper
      .writings-content
        ul.m-writings-list
          li.m-writing-item
            a(href='javascript:void(0)')
              .m-writing-thumb
                img(src='images/freedom.jpg', alt="How to Measure Your Story's Engagement")
              h2.m-writing-title  How to Measure Your Story&apos;s Engagement 
            p.m-writing-excerpt  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore libero aperiam nihil aliquam vel nesciunt, voluptate odio cum ipsam eius velit maiores. Et magnam cumque soluta quaerat id, impedit itaque.
            p.m-writing-excerpt Est dolorum molestias quia atque. Iste dolore voluptatem maiores sed, excepturi obcaecati consectetur sint quasi perferendis cum? Neque ratione, labore? Id, nostrum.
            a.cta(href='javascript:void(0)') Continue Reading
          hr
          li.m-writing-item
            a(href='javascript:void(0)')
              .m-writing-thumb
                img(src='images/grid.jpg', alt="How to Measure Your Story's Engagement")
              h2.m-writing-title  How to Use Your Story As Fuel for Personal Branding
            p.m-writing-excerpt  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore libero aperiam nihil aliquam vel nesciunt, voluptate odio cum ipsam eius velit maiores. Et magnam cumque soluta quaerat id, impedit itaque.
            a.cta(href='javascript:void(0)') Continue Reading

          hr
          li.m-writing-item
            a(href='javascript:void(0)')
              .m-writing-thumb
                img(src='images/ideation.jpg', alt="How to Measure Your Story's Engagement")
              h2.m-writing-title  UX Fundamentals: Interface Ideation
            p.m-writing-excerpt  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore libero aperiam nihil aliquam vel nesciunt, voluptate odio cum ipsam eius velit maiores. Et magnam cumque soluta quaerat id, impedit itaque.
            p.m-writing-excerpt Est dolorum molestias quia atque. Iste dolore voluptatem maiores sed, excepturi obcaecati consectetur sint quasi perferendis cum? Neque ratione, labore? Id, nostrum.
            a.cta(href='javascript:void(0)') Continue Reading
          hr
