// l-footer
footer.site-footer {
  padding: 2rem 0;
  text-align: center;
  border-top: 1px solid $smoke;
  background-color: $primary-color;
  color: #fff;
  h4, h5, p, ul, li, a {
    color: #fff;
  }
}

.footer-container {
  @include grid-row();
}

.footer-section {
  @include grid-column(12);
  @media #{$small-only} {
    margin-bottom: 2rem;
  }
  @media #{$medium-up} {
    @include grid-column(4);
  }
  h4 {
    margin-bottom: 1rem;
  }
}

.contact-photo {
  width: 75px;
  height: 75px;
  margin-bottom: 0;
  @include global-hover;
  border-radius: 100%;
}

.contact-info {
  text-align: center;

  p.subheader {
    font-size: .8rem;
    @include uppercase-styling;
    margin: 0;
    margin-top: .2rem;
  }
}

.social-list {
  list-style: none;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-top: 0;

  li {
    display: inline-block;
    // height: 2.5rem;
    // float: left;
    margin-right: .5rem;
  }
}

.social-list-icon {
  font-size: 2rem;
  @media #{$large-up} {
    font-size: 2.5rem;
  }
  &:hover {
    color: darken(white, 20%);
  }
}
