// l-index

#welcome {
  padding-bottom: 4rem;
}

hgroup.welcome {
  position: relative;
  animation: fade-down 1s;
}

.welcome-video {
  animation: fade-in 2s;
}

.welcome-container {
  @include grid-row();
}

.welcome-content {
@include grid-column($columns: 12, $center: true);
text-align: center;
padding: 0;
p {
  margin-top: 1.5rem;
}

@media #{$large-up} {
  @include grid-column($columns: 10, $center: true);
}
}

hgroup.welcome {
  padding: 2rem 0;
  @media #{$medium-up} {
    padding: 2.5rem 0;
  }
  @media #{$large-up} {
    padding: 3rem 0;
  }
  @media #{$large-up} {
    padding: 3.5rem 0;
  }
  h1 {
    line-height: .9;
  }

}

.welcome-video {
  @include flex-video-container();
  margin-top: 1rem;
}

.content-section {
   padding: 4rem 0;

   @media #{$xlarge-up} {
    padding: 6rem 0;
   }
}

// secondary nav

.icon-bar {
  label {
    font-weight: 100;
  }
}

// Story

.story-container {
  @include grid-row();
}

.story-content {

  margin-top: 2rem;
  @include grid-column(12);

  @media #{$medium-up} {
    @include grid-column($columns: 10, $center: true);
  }

  @media #{$large-up} {
    @include grid-column($columns: 8, $center: true);
  }

  h2 {
    text-align: center;
  }

  p {
    line-height: 1.4;
    &:first-child:first-letter { 
      float: left;
      color: $header-font-color;
      font-size: 2.75rem;
      line-height: 2.5rem;
      padding-top: 4px;
      padding-right: 8px;
      // padding-left: 3px;
      // margin-top: -5px;
      font-family: $header-font-family; 
    } 
  }

}

 // Portfolio 

#portfolio {
   background-color: $smoke;
} 

.portfolio-container {
  @include grid-row();
}

.portfolio-items {
 @include grid-column(12);

 hgroup {
  text-align: center;
 }
 margin-bottom: 2rem;
}

// Services

.services-container {
  @include grid-row();
}

.services-content {
 @include grid-column(12);
 text-align: center;
}

.service-column {
 @include grid-column(12);
 text-align: center;

 @media #{$medium-up} {
   @include grid-column(4);
 }
}

// Clients
#clients {
  background-color: $smoke;
}

.clients-container {
  @include grid-row();
}

.clients-content {
  @include grid-column(12);

  @media #{$large-up} {
    @include grid-column($columns: 10, $center: true);
  }
  hgroup {
    text-align: center;
  }
}

// Contact

#contact {
  background: $smoke;
  padding-bottom: 4rem;
}

.contact-container {
  @include grid-row();
}

.contact-content {
 @include grid-column(12);

 @media #{$medium-up} {
   @include grid-column($columns: 8, $center: true);
 }
 padding: 2rem 1rem 2rem 1rem;
 border-radius: $global-radius;
 background-color: $blue-grey;
 text-align: center;
 color: white;

 h4 {
   color: white;
   margin-bottom: 2rem;
 }

 .cta.white {
   margin: 0;
   color: white;
 }
} 