// l-index

#welcome {
  padding-top: 11rem;
  background-image: url('../images/video-bg-1280x720.jpg');
  background-size: cover;
  min-height: 730px;
  @media #{$small-only} {
    // background-image: url('../images/video-bg-980x1269.jpg');
    // background-size: cover;
    padding-top: 3.8rem;
    min-height: 670px;
    max-height: 745px;
  }
  @media #{$large-up} {
    background-image: url('../images/video-bg-1920x1080.jpg');
    background-size: cover;
  }
}

hgroup.welcome {
  position: relative;
  animation: fade-down 1s;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  h1 {
    line-height: .9;
    margin-bottom: 1.4rem;
    color: darken($primary-color, 10%);
    @media #{$large-up} {
      font-size: 6.854rem;
    }
  }
  .subheader {
    color: #fff;
  }

}

// Play Button

.play-button {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  padding-top: 3.8rem;
  @media #{$small-only} {
    padding-top: 0rem;
  }
  .play {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    @include global-transition;

    span {
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 40px solid #fff;
      margin-top: 20px;
      margin-left: 15px;
      display: inline-block;
      @include global-transition;

    }
  }
  &:hover {
    .play {
      border: 2px solid $accent-color;
      span {
        border-left: 40px solid $accent-color;
      }
    }
  }
}

.reveal-modal {
  .close-reveal-modal {
    color: darken(#fff, 15%);
    text-decoration: none;
    @include global-transition;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

.welcome-video {
  @include flex-video-container();
}

.welcome-container {
  @include grid-row();
}

.content-section {
   padding: 4rem 0;

   @media #{$xlarge-up} {
    padding: 6rem 0;
   }
}

// Story

.story-container {
  @include grid-row();
}

.story-content {

  margin-top: 2rem;
  @include grid-column(12);

  @media #{$medium-up} {
    @include grid-column($columns: 10, $center: true);
  }

  @media #{$large-up} {
    @include grid-column($columns: 8, $center: true);
  }

  h2 {
    text-align: center;
  }
}

 // Portfolio 

#portfolio {
   background-color: $smoke;
} 

.portfolio-container {
  @include grid-row();
}

.portfolio-items {
 @include grid-column(12);
}

.portfolio-item {
  @include grid-row();
  margin: 1.8rem 0;
  @media #{$small-only} {
    margin-bottom: 3.6rem;
    text-align: center;
  }
  .portfolio-screenshot, .portfolio-excerpt {
    @media #{$medium-up} {
      @include grid-column(6);
    }
  }
  .portfolio-screenshot {
    text-align: center;
  }
  .portfolio-excerpt {
    @media #{$medium-up} {
      padding-top: .9rem;
    }
  }
  &.odd {
    .portfolio-screenshot {
      @media #{$medium-up} {
        @include grid-column($columns: 6, $push: 6);
      }
    }
   .portfolio-excerpt {
      @media #{$medium-up} {
        @include grid-column($columns: 6, $pull: 6);
      }
   }
  }
}

.portfolio-heading {
  text-align: center;
  @media #{$medium-up} {
    text-align: left;
  }
  h3 {
    margin-bottom: 0;
  }
  .subheader { 
    margin-top: 0;
    margin-bottom: .9rem;
  }
}


// Services

.services-container {
  @include grid-row();
}

.services-content {
 @include grid-column(12);
 text-align: center;
}

.service-column {
 @include grid-column(12);
 text-align: center;

 h4 {
  margin-bottom: .5rem;
 }

 @media #{$medium-up} {
   @include grid-column(4);
 }
}

// Clients
#clients {
  background-color: $white;
  padding-bottom: 0;
}

.clients-container {
  @include grid-row();
}

.clients-content {
  @include grid-column(12);

  @media #{$large-up} {
    @include grid-column($columns: 10, $center: true);
  }
  hgroup {
    text-align: center;
  }
}

// Contact

#contact {
  padding-bottom: 4rem;
}

.contact-container, .notice-container {
  @include grid-row();
}

.contact-content {
 @include grid-column(12);

 @media #{$medium-up} {
   @include grid-column($columns: 8, $center: true);
 }
 @media #{$medium-up} {
   @include grid-column($columns: 6, $center: true);
 }
 padding: 1.5rem 2rem;
 border-radius: $global-radius;
 background-color: $blue-grey;
 text-align: center;
 color: white;

 h4 {
   color: white;
   margin-bottom: 1rem;
 }

 .cta.white {
   margin: 0;
   color: white;
   display: inline-block;
 }
} 
