// l-portfolio
.main-article-container {
  @include grid-row();
}
.main-article-content {
    padding: 4rem 0;

  @include grid-column($columns: 12, $center: true);

  @media #{$small-up} {
    @include grid-column($columns: 12, $center: true);
  }

  @media #{$medium-up} {
    @include grid-column($columns: 10, $center: true);
    padding: 2rem;
    margin-top: -150px;
    border-radius: $global-radius;
    background: $white;
  }

  @media #{$large-up} {
    @include grid-column($columns: 8, $center: true);
    padding: 2rem;
  }

  img {
    margin: .5rem auto 1.3rem auto;
    display: block;
  }
}

.sprky-team-list {
  list-style: none;
  display: table;
  margin: 0 auto;
  margin-bottom: 1.8rem;
  li {
    display: inline-block;
    text-align: center;
    margin-right: 1.8rem;
    img {
        width: 150px;
        height: 150px;
        margin-bottom: .45rem;
      }
  } 
}

.sprky-wireframe {
  border: 1px solid $primary-color;
}
