.main-article-content {
  @include grid-column($columns: 12, $center: true);

  @media #{$small-up} {
    @include grid-column($columns: 12, $center: true);
  }

  @media #{$medium-up} {
    @include grid-column($columns: 10, $center: true);
  }

  @media #{$large-up} {
    @include grid-column($columns: 8, $center: true);
  }

  padding: 4rem 0;

  img {
    margin: .5rem auto 1rem auto;
    display: block;
  }
}

.portfolio-welcome {
  height: 550px;
  hgroup {
    padding-top: 10rem;
    > * {
      color: white;
    }
    .cta {
      @include cta-white-font;
    }
    h1 {
      line-height: 1;
    }
  }
  background-position: 50% 50%; 
  background-size: cover;
  &#thengine {
    background-image: url('../images/thengine-bg.jpg');
  }
  &#michael-mcdaniel {
    background-image: url('../images/michael-mcdaniel-bg.jpg');
  }
  &#littleton-christian {
    background-image: url('../images/littleton-christian-bg.jpg');
  }

}
