h3.subheader Storytelling &amp; UX Design
        p
          | At the core of every project is a story. It is often several stories intertwined.
        p
          span
            | UX Design is about understanding each character in the story and crafting a design that empowers them to do what they love well.
        p
          | Unlike traditional web design which is a linear process with one large deliverable, my workflow represents a more adaptive methodology. Some call it 
          a(href='http://www.amazon.com/Lean-UX-Applying-Principles-Experience/dp/1449311652') lean ux
          | , and others call it 
          a(href='http://en.wikipedia.org/wiki/Iterative_design') iterative design
          | .
        p
          | My design decisions are driven by data and based upon a solid foundation of universal design principles.
        |       
        .view-more
          a.view-more-link(href='#')
            | &mdash; Read 
            span.view-toggle More
            |  &mdash;
        |       
        .text-concealed
          p
            | Behind my continually improving design workflow is a dedication to quality that resembles craftsmanship of old.
          |  
          |         
          |         
          p
            span
              | Writing code is like writing poetry. There is always a cleaner and more concise way to express an idea.
      |     
      .process-video
        
        p
          | Video coming soon - directed and produced by 
          a(href='http://www.imdb.com/name/nm4896227/') Blake Talley
  |   